<!-- home.html -->

<!-- <div class="text-center">
    <h1>On-demand evangelists</h1>
    <p>A new user-acquisition technique for start-ups and businesses of any budget.</p>  


    <a ui-sref="soAuthSocial" class="btn btn-primary">Be an Evangelist</a>
    <a ui-sref="soAuthRegistration" class="btn btn-danger">Find Evangelists</a>  
</div> -->


<div id="mycarousel" class="carousel slide" data-ride="carousel" style="padding-bottom:50px;">
    <div class="carousel-inner">
        <div class="item active">
        <img src="images/AboutUsBack.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           		<h3>WE ARE READY.SET.</h3>
           		<p>A highly curated platform that brings together innovative founders with investors</p> 
           </div>
        </div>
    </div>
</div>




<div class="container text-center" style="padding-bottom: 25px;">
	
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. 
	</p>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> Our model generates a double bottom line of ROI and enhanced lifestyle travel for our guests. We provide our investors a safe and secure real estate investment as well as luxury residences for their personal and professional travel.</p>

</div>


<div class="container text-center" style="padding-bottom: 25px;">
	
	

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<img src="/images/About1.jpg" class="img-responsive" alt="Responsive image">
	</div>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> Our model generates a double bottom line of ROI and enhanced lifestyle travel for our guests. We provide our investors a safe and secure real estate investment as well as luxury residences for their personal and professional travel.</p>
	
	
</div>

<div class="container text-center" style="padding-bottom: 25px;">
	
	

	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. 
	</p>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<img src="/images/About2.jpg" class="img-responsive" alt="Responsive image">
	</div>
	
	
</div>

<!-- <div class="grid-images">
	<div class="col-lg-2 col-md-2 col-sm-2">
	</div>
	<div class="col-lg-8 col-md-8  col-sm-8 col-xs-12" style="padding-bottom:70px;">
		<img src="/images/11-buccaneer-grid.png" class="img-responsive grid-images" alt="Responsive image">
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img src="/images/opportunities.png" class="img-responsive hidden-xs" alt="Responsive image">
		<img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image">
	</div>
</div> -->

<div style="background-color:#F2F2F2" class="">
	<div class="row">
		<div class=" success-text text-center">
			<h3>WHO WE ARE</h3>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:20px;">
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				</p>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 card" >
			<div class="row">
				<img src="/images/FounderSample.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="row text-center">
				<h5>Mark Smith</h5>
			</div>
			<div class="row text-center">
				<p>Founding Partner</p>
			</div>
			<div class="row text-center">
				<p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. </p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 card col-condensed">
			<div class="row ">
				<img src="/images/FounderSample.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="row text-center">
				<h5>Mark Smith</h5>
			</div>
			<div class="row text-center">
				<p>Founding Partner</p>
			</div>
			<div class="row text-center">
				<p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. </p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 card">
			<div class="row">
				<img src="/images/FounderSample.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="row text-center">
				<h5>Mark Smith</h5>
			</div>
			<div class="row text-center">
				<p>Founding Partner</p>
			</div>
			<div class="row text-center">
				<p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. </p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 card ">
			<div class="row">
				<img src="/images/FounderSample.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="row text-center">
				<h5>Mark Smith</h5>
			</div>
			<div class="row text-center">
				<p>Founding Partner</p>
			</div>
			<div class="row text-center">
				<p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform. </p>
			</div>
		</div>

		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>

