<img src="/images/about-us-header.png" class="img-responsive hidden-xs" alt="Responsive image">
<img src="/images/about-mobile.png" class="img-responsive hidden-lg hidden-md hidden-sm" alt="Responsive image">

<div class="container text-center" style="padding-top:40px;">
	<h4>Headline About the Company</h4>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:20px;">Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.  Our model generates a double bottom line of ROI and enhanced lifestyle travel for our guests. We provide our investors a safe and secure real estate investment as well as luxury residences for their personal and professional travel.
	<br />
	We believe that there is a way in which our members can <i>make money while they sleep, and enjoy it while they are awake.</i>
	<br />
	Our mission is to help successful individuals invest in luxury real estate and enjoy the return on investment.
	<br />
	We invite you to become an Escape Member and <i>enjoy your returns.</i>


</p>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
</div>


<div class="grid-images col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 50px;">
	<div class="col-lg-2 col-md-2 col-sm-2">
	</div>
	<div class="col-lg-8 col-md-8  col-sm-8 col-xs-12" style="padding-bottom:80px;">
		<img src="/images/grid-photos.png" class="img-responsive grid-images" alt="Responsive image">
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2">
	</div>
</div>

<div class="container text-center" style="padding-bottom:60px;">
	<h4>Headline About the Founders</h4>
	<div class="col-lg-3 col-md-3 col-sm-3"></div>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center" style="padding-top:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<div class="col-lg-3 col-md-3 col-sm-3 "></div>
</div>

<div class="row" style="padding-bottom:100px;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<img src="/images/ari-headshot.png" style="width:130px; height:130px;">
				<h4 id="escape-blue">Ari Goldberg</h4>
				<p id="cursive-font">CEO, Co-Founder</p>
				<p>FIGHTER</p>
				
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<img src="/images/david-headshot.png" style="width:130px; height:130px;">
				<h4 id="escape-blue">David Goldberg</h4>
				<p id="cursive-font">President, Co-Founder</p>
				<p>LOVER</p>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<img src="/images/nam-headshot.png" style="width:130px; height:130px;">
				<h4 id="escape-blue">Nam Bui</h4>
				<p id="cursive-font">CFO, Co-Founder</p>
				<p>BOTH</p>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
			</div>
		</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enjoy-footer">

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-sm-offset-2">
		<h4 style="color: white; margin-left: 20px" id="cursive-font">Enjoy Your Returns</h4>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soStay" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px; ">
		<div class="button-text">STAY</div> 
	</a>
	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soInvest" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px;">
		<div class="button-text">INVEST</div> 
	</a>
</div>