<img src="/images/about-us-header.png" class="img-responsive" alt="Responsive image">

<div class="container  text-center">
	<h4>Headline About the Company</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
</div>

<img src="/images/about-us-grid.png" class="img-responsive" alt="Responsive image">

<div class="container  text-center">
	<h4>Headline About the Founders</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
</div>

<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 headshot">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/ari-headshot.png" class="img-responsive" alt="Responsive image">
				<h3>Ari Goldberg</h3>
				<h4>CEO, Co-Founder</h4>
				<h5>Fighter</h5>
				
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/david-headshot.png" class="img-responsive" alt="Responsive image">
				<h3>David Goldberg</h3>
				<h4>President, Co-Founder</h4>
				<h5>Lover</h5>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/nam-headshot.png" class="img-responsive" alt="Responsive image">
				<h3>Nam Bui</h3>
				<h4>CFO, Co-Founder</h4>
				<h5>Both</h5>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
			</div>
		</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 enjoy-footer">

</div>