/* app css stylesheet */

.btn.outline {
    background: none;
    padding: 9px 9px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn-primary.outline {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none;
}


.btn.sharp {
  border-radius:0;
}

.footer {
  color: white;
}

.nav-profile-image {
  height:35px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 15px;
}

.about-card {
  margin-bottom: 50px;
}

.about-card p{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.signup-variable-section {
  background-color: white;
}

.profile-company-deals-table {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-company-jobs {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.profile-company-deals-area {
  padding-bottom: 15px;
}

.profile-company-jobs-card {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
    font-family: "gotham_lightregular", Times, serif;
}


h1 {
  font-family: "gotham_lightregular", Times, serif;
}

h2 {
  color: #6B6B6B;
}


h3 {
  font-family: "gotham_lightregular", Times, serif;
}


h4 {
  font-family: "gotham_lightregular", Times, serif;
}

.no-padding {
  padding-left:0px; 
  padding-right:0px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.gotham-font {
    font-family: "gotham_bookregular", Times, serif;
}

.gray-text {
  color: #6B6B6B;
}

.navbar-gradient {
  background: linear-gradient(direction, color-stop1, color-stop2, ...);
}

th {
    font-family: "gotham_bookregular", Times, serif;
}

td {
    font-family: "gotham_bookregular", Times, serif;
}

html {
  height: 100%;
}

table {
    border-collapse: collapse;
}

th {
  color: #9C9C9C;
}

th, td {
    border: 1px solid #E6E6E6;
    color: #9C9C9C;
}

th, td {
    padding: 5px;
    text-align: left;
}

img {
    vertical-align: middle;
}

.col-condensed {
  margin-left: 0px;
  margin-right: 0px;
  div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.right {
   border-right: 1px solid #D6D6D6;
   line-height: 4px;
}

.white-text {
  color: #FBFEFF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gotham-font {
  font-family: 'gotham_bookregular';
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('/fonts/gotham-light/gotham-light-webfont.eot');
    src: url('/fonts/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('/fonts/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('/fonts/gotham-light/gotham-light-webfont.eot');
    src: url('/fonts/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('/fonts/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garamond_pro';
    src: url('/fonts/Garamond-Pro/ITCGaramondStd-BkIta.otf');
}


@font-face {
    font-family: 'gotham_bookregular';
    src: url('/fonts/gotham-book/gotham-book-webfont.eot');
    src: url('/fonts/gotham-book/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-book/gotham-book-webfont.woff2') format('woff2'),
         url('/fonts/gotham-book/gotham-book-webfont.woff') format('woff'),
         url('/fonts/gotham-book/gotham-book-webfont.ttf') format('truetype'),
         url('/fonts/gotham-book/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Garamond Pro Italic';
src:
     url('/fonts/Garamond-Pro/ITCGaramondStd-BdIta.otf') format('opentype') /* Legacy iOS */
font-weight: none;
}





.redirect-btn {
  background-position: right 12px top 14px;
}


.splash-mobile {
  background: url('/images/splash-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.splash-mobile-about {
  background: url('/images/about-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.splash-mobile-how {
  background: url('/images/how-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.button-text {
  padding-left: 15px; 
  margin-top: 7px;
  margin-bottom: 7px;
}

.home-splash {
  background-image: url('/images/button-arrow.png');
}


.escape-button {
  height: 70px;
  width: 32px;
}

.child-element { 
  position: relative; 
  width: 100%; 
}



.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.left { float:left }

.info-container {
  float: left;
  clear: left;
  display: block;
  height: 400px;
}

footer {
    width: 100%;
    bottom: 0;
  }


.bottom-nav ul li a {
  color: #248FA2;
}

#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 42px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
display: none;
}


.enjoy-footer {
  background-color: #29A0B5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.key-deals {
  background-color: #EDEDED;
}

.navbar {
  height: 45px;
  background-color: #14242C;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  font-family: 'Gotham Book';
}

.navbar a {
  color: white;
  font-size: 10px;
}

.slide-container {
  display: block;
  left: 0px;
  right: 0px;
  padding: 0 20px;
  margin-left: -100px;
  margin-right: -100px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  clear: left;
  width: 100%;
  z-index: 0;
  position: relative;
  padding-top: 65px;
}

.headline-section {
  padding-top: 250px;
  padding-bottom: 60px;
}


.grid-images {

}



.success-text {
  padding-top: 70px;
  padding-bottom: 40px;
}



.icon-bar {
   background-color:#FF0000 !important;
}


.navbar-fixed-bottom {
  height: 100px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn {
    border-radius: 0px;
}