/* app css stylesheet */


html, body {
  height: 100%;
}


.pin-img {
  padding-top: 8px;
  padding-right: 8px;
}

.profile-image {
  width: 40px;
}

.investor-splash-textinfo {
  padding-left: 40px;
}

.edit-investor-name {

}

.investor-jobs-headline {
  min-height:100px;
  padding-top: 20px;
}

.investor-jobs-body {
  padding-bottom: 30px;
}

.investor-boards-headline {
  padding-bottom: 20px;
}

.investor-boards-body {
  padding-bottom: 30px;
}

.investor-investments-headline {
  padding-bottom: 20px;
}

.investor-investments-body {
  padding-bottom: 30px;
}


.ngbody {
  height: 100%;
}

.no-gutter {
  padding-right:0;
  padding-left:0;
}



p.thick {
  font-weight: bold;
}

.edit-member-permissions-th {
  padding-top: 15px;
  padding-bottom: 15px;
}

.centered-td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.edit-permissions-top-th {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

/*a {
  text-decoration: none;
  color: #9B9B9B;
  padding-left: 10px;
  padding-right: 10px;
}*/


a:active {
  color: black;
}

.airforce-link {
  color: #557785;
  text-decoration: underline;
  text-decoration-color: #557785;
}

.member-permissions-th {
  
}

.deal-description-row {
  border-bottom: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

.deal-documents-row {
  padding-top: 25px;
}

.company-splash-headline {
  padding-left: 50px;
}

.edit-company-link a{
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.company-profile-splash {
  padding-top: 100px; 
  padding-bottom: 50px;
  min-height:350px; 
  background-color: 
  #437592;
}

.company-social-links {
  padding-left: 20px
}

.btn-addnew-member {
  background-color: #EDEDED;
  border-width: 2px;
  border-color: #E2E2E2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: #6E7273;
}

.btn-edit{
  background-color: #DCD9E4;
  color: #676968;
}

.btn-grey p{
  padding-left: 10px;
  padding-bottom: 0px;
}

.edit-image{
  padding-top: 5px;
  padding-left: 5px;
}


.notifications-section {
  min-height:150px;
  padding-top:35px;
  padding-left: 50px;
  background-color: #EDEDED;
}

.notification-row {
  padding-bottom: 25px;
}

.notifications-h1 {
  padding-top: 40px;
  margin-bottom: 40px;
}

.notiications-repeated-section {
  padding-top: 45px;
}

.company-demographics-section {
  min-height:150px;
  padding-top:35px;
  padding-left: 50px;
  background-color: #EDEDED;
}

.company-file-link {
  color: #538BAE;
  text-decoration: underline #538BAE;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.sign-deal-banner {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #437592;
  color: white;
}

.sign-cell  {
  padding-right:0;
  padding-left:0;
  border-width: thin;
  border-style: solid;
  border-color:#EDEDED;
  margin-bottom: 15px;
  background-color: #EDEDED;
}

.sign-docs-description{
  padding-left: 0px;
  padding-right: 0px;
}

.sign-deal-body {
  padding-top: 40px;
}

.sign-docs-header {
  padding-left: 30px;
}

.sign-document-item {
  background-color: #EDEDED;
}

.sign-doc-text {

}

.next-button-row {
  padding-right: 30px;
  padding-bottom: 50px;
}

.sign-row {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F6F6F6;
}

.checkmark-section {
  padding-top: 15px;
  padding-left: 20px;
  background-color: #EDEDED;
}


.edit-company-navbar {
  border-bottom-width: 2px;
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
}

.edit-company-navbar p {

}

.textarea {
  border-color: #CCCCCC;
}

.edit-investor-top-bar {
  padding-top: 50px;
}

.edit-company-profpic-row {
  padding-top: 35px;
}

.edit-company-top-bar {
  padding-top: 60px;
  padding-bottom: -10px;
}

.edit-investor-body {
  background-color: #EDEDED;
}

.edit-company-navbar {
  background-color: #EDEDED;
}
.edit-company-details {
  background-color: #EDEDED;
}

.edit-company-presentation {
  background-color: white;
  padding-bottom: 50px;
}

.edit-boardmembers-row {
  padding-top: 10px;
  padding-bottom: 45px;
}

.edit-investors-row {
  padding-bottom: 40px;
}

.edit-employees-row {
  padding-top: 10px;
}

.edit-company-members {
  background-color: #EDEDED;
  padding-top: 60px;
  padding-bottom: 60px;
}

.edit-company-permissions {
  background-color: white;
}

.navbar-links {
  color: #919CA2;
}

.getstarted-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gray-text {
  color: #C2C2C2;
}

.steps-block {
  padding-top:25px; 
  padding-bottom:25px;
}

.steps-caption-title {
  padding-top: 10px;
}

.investor-demographics-bar {
  padding-top:30px; 
  background-color: #EDEDED;
}

.jobs-gray-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.boards-grey-section {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.investments-grey-section {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.center {
  float: none; 
  margin: 0 auto;
}

.horizontal-center {
   position: relative;
   left: 0;
   right: 0;
   margin: auto;

}

.social-container {
  padding-right: 70px;
}

.social-icons{
  float: left;
  padding-right: 15px;
}

.btn-airforce-blue {
  background-color: #538BAE;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.btn-airforce-text {
  background-color: #DADBDD;
  padding-left: 20px;
  padding-right: 20px;
  color: #538BAE;
}

b {
  color: #538BAE;
  font-weight: bold;
}

.airforce-text {
  color: #538BAE;
}


.homepage-companies {
  padding-left: 25px;
}

.lin-grad {
    position: absolute;
    line-height: normal; 
    display: inline-block;
    vertical-align: middle;
}

.blue-links {
  text-decoration: underline;
}


.btn-grey {
  background-color: #DCD9E4;
}

.btn-grey-white {
  background-color: #DCD9E4;
  color: white;
}

.btn-dark-grey {
  background-color: #A9A9A9;
  color: white;
}

.btn.outline {
    background: none;
    padding: 9px 9px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn-primary.outline {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none;
}

#blue-text {
  color: #3D728E;
}


.btn.sharp {
  border-radius:0;
}

.footer {
  color: #99ADB8;
}

.footer-links {
  padding-left: 25px;
}

.footer-copyright {
  font-size: 10px;
  color: gray;
}

.nav-profile-image {
  height:35px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 15px;
}

.about-card {
  margin-bottom: 50px;
}

.about-card p{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.signup-variable-section {
  background-color: white;
}

.profile-company-deals-table {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-company-jobs {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.profile-company-deals-area {
  padding-bottom: 15px;
}

.profile-company-jobs-card {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
    font-family: "gotham_lightregular", Times, serif;
}


h1 {
  font-family: "gotham_lightregular", Times, serif;
}




h3 {
  font-family: "gotham_lightregular", Times, serif;
}


h4 {
  font-family: "gotham_lightregular", Times, serif;
}

.no-padding {
  padding-left:0px; 
  padding-right:0px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.gotham-font {
    font-family: "gotham_bookregular", Times, serif;
}

.gray-text {
  color: #6B6B6B;
}

.navbar-gradient {
  background: linear-gradient(direction, color-stop1, color-stop2, ...);
}

th {
    font-family: "gotham_bookregular", Times, serif;
}

td {
    font-family: "gotham_bookregular", Times, serif;
}

html {
  height: 100%;
}

table {
    border-collapse: collapse;
}

th {
  color: #9C9C9C;
}

th, td {
    border: 1px solid #E6E6E6;
    color: #9C9C9C;
}

th, td {
    padding: 5px;
    text-align: left;
}

img {
    vertical-align: middle;
}

.col-condensed {
  margin-left: 0px;
  margin-right: 0px;
  div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.right {
   border-right: 1px solid #D6D6D6;
   line-height: 4px;
}

.white-text {
  color: #FBFEFF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gotham-font {
  font-family: 'gotham_bookregular';
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('/fonts/gotham-light/gotham-light-webfont.eot');
    src: url('/fonts/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('/fonts/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('/fonts/gotham-light/gotham-light-webfont.eot');
    src: url('/fonts/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('/fonts/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garamond_pro';
    src: url('/fonts/Garamond-Pro/ITCGaramondStd-BkIta.otf');
}


@font-face {
    font-family: 'gotham_bookregular';
    src: url('/fonts/gotham-book/gotham-book-webfont.eot');
    src: url('/fonts/gotham-book/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-book/gotham-book-webfont.woff2') format('woff2'),
         url('/fonts/gotham-book/gotham-book-webfont.woff') format('woff'),
         url('/fonts/gotham-book/gotham-book-webfont.ttf') format('truetype'),
         url('/fonts/gotham-book/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Garamond Pro Italic';
src:
     url('/fonts/Garamond-Pro/ITCGaramondStd-BdIta.otf') format('opentype') /* Legacy iOS */
font-weight: none;
}





.redirect-btn {
  background-position: right 12px top 14px;
}


.splash-mobile {
  background: url('/images/splash-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.splash-mobile-about {
  background: url('/images/about-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.splash-mobile-how {
  background: url('/images/how-mobile.png') no-repeat center center fixed;
  font-family: 'gotham_bookregular';
}

.button-text {
  padding-left: 15px; 
  margin-top: 7px;
  margin-bottom: 7px;
}

.home-splash {
  background-image: url('/images/button-arrow.png');
}


.escape-button {
  height: 70px;
  width: 32px;
}

.child-element { 
  position: relative; 
  width: 100%; 
}



.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.left { float:left }

.info-container {
  float: left;
  clear: left;
  display: block;
  height: 400px;
}

footer {
    width: 100%;
    bottom: 0;
  }


.bottom-nav ul li a {
  color: #248FA2;
}

#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 42px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
display: none;
}


.enjoy-footer {
  background-color: #29A0B5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.key-deals {
  background-color: #EDEDED;
}

.navbar {
  height: 45px;
  background-color: #14242C;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  font-family: 'Gotham Book';
}

.navbar a {
  color: white;
  font-size: 10px;
}

.slide-container {
  display: block;
  left: 0px;
  right: 0px;
  padding: 0 20px;
  margin-left: -100px;
  margin-right: -100px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  clear: left;
  width: 100%;
  z-index: 0;
  position: relative;
  padding-top: 65px;
}

.headline-section {
  padding-top: 250px;
  padding-bottom: 60px;
}


.grid-images {

}



.success-text {
  padding-top: 70px;
  padding-bottom: 40px;
}



.icon-bar {
   background-color:#FF0000 !important;
}


.navbar-fixed-bottom {
  height: 100px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn {
    border-radius: 0px;
}

.btn-rounded {
  background-color: #A9A9A9;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  padding: 15px 30px 15px 30px;
  margin-left: 30px;
}
