/* app css stylesheet */


html {
  height: 100%;
}

h1{
  font-family: 'Cabin', sans-serif;
  font-size: 56px;
  border-color: 
}

h5 {
  font-family: 'Garamond Pro Italic';
}

p {
  font-family: 'gotham_lightregular';
}

body { 
  padding-top: 48px; 
  min-height: 100%;
  font-family: 'gotham_bookregular';
}

body p {
  font-family: 'gotham_lightregular'
}

#escape-blue {
  color: #248FA2;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('/fonts/gotham-light/gotham-light-webfont.eot');
    src: url('/fonts/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('/fonts/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('/fonts/gotham-book/gotham-book-webfont.eot');
    src: url('/fonts/gotham-book/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-book/gotham-book-webfont.woff2') format('woff2'),
         url('/fonts/gotham-book/gotham-book-webfont.woff') format('woff'),
         url('/fonts/gotham-book/gotham-book-webfont.ttf') format('truetype'),
         url('/fonts/gotham-book/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Garamond Pro Italic';
src:
     url('/fonts/Garamond-Pro/ITCGaramondStd-BdIta.otf') format('opentype') /* Legacy iOS */
font-weight: none;
}

.btn {
  background-color: black;
  background-image: url('/images/button-arrow.png'); 
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: right 12px top 7px;
  padding-top: 10px;
  padding-bottom:10px;
  width: 150px;
  height: 80px
  border: 0 none;
  color: white;
  font-family: 'gotham_bookregular';
  font-size: 10px;
  text-align: left;
}

.redirect-btn {
  background-position: right 12px top 14px;
}

.button-text {
  padding-left: 15px; 
  margin-top: 7px;
  margin-bottom: 7px;
}

.home-splash {
  background-image: url('/images/button-arrow.png');
}


.escape-button {
  height: 70px;
  width: 32px;
}

.child-element { 
  position: relative; 
  width: 100%; 
}



.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.left { float:left }

.info-container {
  float: left;
  clear: left;
  display: block;
  height: 400px;
}

.footer {
  background-color: black;
  font-family: 'Gotham Book';
  font-size: 10px;
  padding-top: 60px;
}

.bottom-nav ul li a {
  color: #248FA2;
}

#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 42px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
display: none;
}


.enjoy-footer {
  background-color: #29A0B5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.key-deals {
  background-color: #EDEDED;
}

.navbar {
  height: 45px;
  background-color: black;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  font-family: 'Gotham Book';
}

.navbar a {
  color: white;
  font-size: 10px;
}

.slide-container {
  display: block;
  left: 0px;
  right: 0px;
  padding: 0 20px;
  margin-left: -100px;
  margin-right: -100px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  clear: left;
  width: 100%;
  z-index: 0;
  position: relative;
  padding-top: 65px;
}

.headline-section {
  padding-top: 250px;
  padding-bottom: 60px;
}


.grid-images {

}


.success-text {
  padding-top: 100px;
  padding-bottom: 100px;
}



.icon-bar {
   background-color:#FF0000 !important;
}


.navbar-fixed-bottom {
  height: 100px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn {
    border-radius: 0px;
}