<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<!DOCTYPE html>
<html>
<head>

    <!-- <pre>{{usingCookies|json}}</pre>
    <pre>{{usingCookieStore|json}}</pre> -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script> -->
    
    <!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->

    <script src="lib/angular/angular.js"></script>
    <!-- <script src="lib/angular-animate/angular-animate.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <!-- <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <!-- <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script> -->
    
    <!-- CSS (load bootstrap) -->
    <!--  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<!-- apply our angular app to our site -->
<body ng-app="so">

<!-- NAVIGATION -->
<nav class="navbar navbar-fixed-top sticky" role="navigation">
  <div class="container-fluid" ng-controller="soCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/images/nav_bar_logo.png" class="img-responsive lg-col-2 md-col-2 sm-col-2 xs-col-2" alt="Responsive image" style="height:20px">
        </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="navCollapsed" class="collapse nav-collapse navbar-collapse navbar-responsive-collapse " ng-class="{'in': !navCollapsed}" id="bs-example-navbar-collapse-1" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav pull-right">
        <li><a  style="color: #919CA2;"  ui-sref="soAbout">About Us</a></li>
        <li><a  style="color: #919CA2;" ui-sref="soWorks">How it works</a></li>
        <li><a  style="color: #919CA2;" ng-hide="tokenExists()" ui-sref="soAuthLogin">Log In</a></li>
        <!-- <li><a  ng-hide="tokenExists()" ui-sref="soAuthRegistration">SIGN UP</a></li> -->
        <li><img src="/images/polygons.png" class="nav-profile-image img-responsive img-circle" ng-show="tokenExists()" ng-click="stateProfile()"></li>

        <button type="button" class="btn btn-primary btn-sm outline" ng-hide="tokenExists()" style="margin-top:13px;" ui-sref="soAuthRegistration"><p style="margin-bottom:0px;">Sign Up</p></button>
    
        <li><button type="button" class="btn btn-primary btn-sm outline" ng-show="tokenExists()" ng-click="logout()" style="margin-top:13px; "><p style="margin-bottom:0px;">Log Out</p></button></li>
    
      </ul>
    </div>
  </div>
</nav>



<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div ui-view >  
</div>


<div ng-include src="'footer.html'" class="footer" style="min-height:50px; background-color:#14242C; margin-bottom:-60">

</div>


<!-- <div class="footer row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a  ui-sref="soWorks">How it works</a>
        <a  ui-sref="soAbout">About</a>
        <a  ui-sref="">Team</a>
        <a  ui-sref="">Careers</a>
        <a  ui-sref="">Press</a> 
        <a  ui-sref="">FAQs</a>       
        <a  ui-sref="">Contact</a>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
</div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!--  // <script src="lib/angular/angular.js"></script> -->
  <!-- <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> -->
  


  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script> -->
  <script src="lib/angular-cookies/angular-cookies.js"></script>
  <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="lib/ngImgCrop/compile/minified/ng-img-crop.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/ngImgCrop/compile/minified/ng-img-crop.css">
  <!-- <script src="lib/angular-animate/angular-animate.js"></script> -->
  <script src="lib/Blob.js"></script>
  <script src="lib/FileSaver.min.js"></script>
  <script src="lib/download.js"></script>
 

  <!-- Firebase + AngularFire -->
  <!-- Firebase -->
  <!-- <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  // AngularFire
  // <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script> -->

  <script src="app.js"></script>

  <!-- Misc -->
  <script src="components/home/home.module.js"></script>
  <script src="components/about/about.module.js"></script>
  <script src="components/invest/invest.module.js"></script>
  <script src="components/stay/stay.module.js"></script>
  <script src="components/works/works.module.js"></script>
  <script src="components/signup/signup.module.js"></script>
  <script src="components/profile/profile.module.js"></script>
  <script src="components/profile/profile.controller.js"></script>
  <script src="components/profile/company.controller.js"></script>
  <script src="components/profile/investor.controller.js"></script>

  <!-- Auth -->
  <script src="components/auth/auth.module.js"></script>
  <script src="components/auth/login/login.module.js"></script>
  <script src="components/auth/login/login.controller.js"></script>
  <script src="components/auth/registration/registration.module.js"></script>
  <script src="components/auth/registration/registration.controller.js"></script>
  <script src="components/auth/social/social.module.js"></script>
  <script src="components/auth/social/social.controller.js"></script>

  <!-- services -->
  

</body>
</html>
