<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<!DOCTYPE html>
<html>
<head>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<!-- apply our angular app to our site -->
<body ng-app="so">

<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid" ng-controller="soCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="soHome">Social Ocean</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="navCollapsed" class="collapse nav-collapse navbar-collapse navbar-responsive-collapse" ng-class="{'in': !navCollapsed}" id="bs-example-navbar-collapse-1" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li><a  ui-sref="soHome">Home</a></li>
        <li><a  ui-sref="soAuthRegistration" ng-hide="authData">Brand Register</a></li>
        <li><a  ui-sref="soAuthLogin" ng-hide="authData">Brand Login</a></li>
        <li><a  ui-sref="soAuthSocial" ng-hide="authData">User Signin</a></li>
        <!-- <li><a  ui-sref="home" ng-hide="!authData" ng-click="">Logout</a></li> -->
        <li><a  ui-sref="soPrivate" ng-show="authData">Private</a></li>
        <li><a  ui-sref="soHome" ng-show="authData" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container">

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- Firebase + AngularFire -->
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

  <script src="app.js"></script>

  <!-- Misc -->
  <script src="components/home/home.module.js"></script>
  <script src="components/private/private.module.js"></script>

  <!-- Auth -->
  <script src="components/auth/auth.module.js"></script>
  <script src="components/auth/login/login.module.js"></script>
  <script src="components/auth/login/login.controller.js"></script>
  <script src="components/auth/registration/registration.module.js"></script>
  <script src="components/auth/registration/registration.controller.js"></script>
  <script src="components/auth/social/social.module.js"></script>
  <script src="components/auth/social/social.controller.js"></script>

  <!-- services -->
  <script src="services/auth.service.js"></script>
  <script src="services/company.service.js"></script>
  <script src="services/user.service.js"></script>
  

</body>
</html>
