<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<!DOCTYPE html>
<html>
<head>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<!-- apply our angular app to our site -->
<body ng-app="so">

<!-- NAVIGATION -->
<nav class="navbar navbar navbar-fixed-top sticky" role="navigation">
  <div class="container-fluid" ng-controller="soCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="soHome">
          <img style="max-width:100px;" alt="Brand" src="/images/logo.png">
        </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="navCollapsed" class="collapse nav-collapse navbar-collapse navbar-responsive-collapse " ng-class="{'in': !navCollapsed}" id="bs-example-navbar-collapse-1" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav pull-right">
        <li><a  ui-sref="soStay">STAY</a></li>
        <li><a  ui-sref="soInvest">INVEST</a></li>
        <li><a  ui-sref="soAbout">ABOUT</a></li>
        <li><a  ui-sref="soWorks">HOW IT WORKS</a></li>
        <li><a  ui-sref="soHome">FOLLOW US</a></li>
        <!-- <li><a  ui-sref="soAuthRegistration" ng-hide="authData">Brand Register</a></li> -->
        <!-- <li><a  ui-sref="soAuthSocial" ng-hide="authData">User Signin</a></li>-->       
        <!-- <li><a  ui-sref="home" ng-hide="!authData" ng-click="">Logout</a></li> -->
        <!-- <li><a  ui-sref="soPrivate" ng-show="authData">Private</a></li> -->

        <li><a  id="escape-blue" ui-sref="soHome" ng-show="authData" ng-click="logout()">HELLO, MR. {{user.last | uppercase}}</a></li>

        <li><a  ui-sref="soHome" ng-show="authData" ng-click="logout()">LOGOUT</a></li>
        <li><a  ui-sref="soAuthLogin" ng-hide="authData" style="color: #248FA2;">LOGIN</a></li>
        <li><a  ui-sref="soSignup" ng-hide="authData" style="color: #248FA2;">SIGN UP</a></li>
      </ul>
    </div>
  </div>
</nav>



<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div ui-view>  
</div>



<div class="footer col-md-12 col-sm-12 col-xs-12">

  <!-- only for xs size screens -->
  <ul class="hidden-lg hidden-md hidden-sm col-xs-6">
    <li><a  ui-sref="soWorks" style="color: #248FA2; padding-left: 60px;">HOW IT WORKS</a></li>
    <li> <a  ui-sref="soAbout" style="color: #248FA2; padding-left: 60px;">ABOUT</a></li>
    <li><a  ui-sref="soAbout" style="color: #248FA2; padding-left: 60px;">TEAM</a></li>
    <li><a  ui-sref="soAbout" style="color: #248FA2; padding-left: 60px;">CAREERS</a></li>
    <li><a  ui-sref="soAbout" style="color: #248FA2; padding-left: 60px;">PRESS</a></li>
  </ul>
  <ul class="hidden-lg hidden-md hidden-sm col-xs-6">
    <li><a  ui-sref="soAbout" style="color: #248FA2; margin-left: 20px;">CONTACT</a></li>
    <li><a  ui-sref="soAbout" style="color: #248FA2; margin-left: 20px;">PRIVACY POLICY</a></li>
    <li><a  ui-sref="soAbout" style="color: #248FA2; margin-left: 20px;">TERMS OF USE</a></li>
  </ul>


  <!-- only for sm and larger size screens -->
  <div class="pull-left hidden-xs">
    <a  ui-sref="soStay" style="color: #248FA2; padding-left: 60px;">HOW IT WORKS</a>
    <a  ui-sref="soInvest" style="color: #248FA2; margin-left: 20px;">ABOUT</a>
    <a  ui-sref="soAbout" style="color: #248FA2; margin-left: 20px;">TEAM</a>
    <a  ui-sref="soWorks" style="color: #248FA2; margin-left: 20px;">CAREERS</a>
    <a  ui-sref="soHome" style="color: #248FA2; margin-left: 20px;">PRESS</a>
  </div>

  <div class="pull-right hidden-xs">
    <a  ui-sref="soStay" style="color: #248FA2; margin-left: 20px;">CONTACT</a>
    <a  ui-sref="soInvest" style="color: #248FA2; margin-left: 20px;">PRIVACY POLICY</a>
    <a  ui-sref="soAbout" style="color: #248FA2; margin-left: 20px;">TERMS OF USE</a>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: black; color: white; padding-top: 15px; padding-bottom: 10px;">
    <div style="padding-left: 45px;">
       <a class="pull-left" ui-sref="soHome">
        <img style="max-width:20px;" alt="Brand" src="/images/fb-icon.png">
        </a>
        <a class="pull-left" ui-sref="soHome">
          <img style="max-width:20px; margin-left: 20px;" alt="Brand" src="/images/insta-icon.png">
        </a>
        <a class="pull-left" ui-sref="soHome">
          <img style="max-width:20px; margin-left: 20px;" alt="Brand" src="/images/twitter-icon.png">
        </a>
        <a class="pull-left" ui-sref="soHome">
          <img style="max-width:20px; margin-left: 20px;" alt="Brand" src="/images/pinterest-icon.png">
        </a>
    </div>
   

    <p class="pull-right vcenter" style="font-family: 'gotham_bookregular'; font-size:10px;">ESCAPE INC. 2015 NYC</p>
  </div>


  
  <img src="/images/footer-key.png" class="img-responsive" alt="Responsive image" style="border-color: black; border-width: 1px; ">

</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- Firebase + AngularFire -->
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

  <script src="app.js"></script>

  <!-- Misc -->
  <script src="components/home/home.module.js"></script>
  <script src="components/about/about.module.js"></script>
  <script src="components/invest/invest.module.js"></script>
  <script src="components/stay/stay.module.js"></script>
  <script src="components/works/works.module.js"></script>
  <script src="components/private/private.module.js"></script>
  <script src="components/signup/signup.module.js"></script>
  <script src="components/profile/profile.module.js"></script>
  <script src="components/profile/profile.controller.js"></script>

  <!-- Auth -->
  <script src="components/auth/auth.module.js"></script>
  <script src="components/auth/login/login.module.js"></script>
  <script src="components/auth/login/login.controller.js"></script>
  <script src="components/auth/registration/registration.module.js"></script>
  <script src="components/auth/registration/registration.controller.js"></script>
  <script src="components/auth/social/social.module.js"></script>
  <script src="components/auth/social/social.controller.js"></script>

  <!-- services -->
  <script src="services/auth.service.js"></script>
  <script src="services/investor.service.js"></script>
  <script src="services/user.service.js"></script>
  <script src="services/fireref.service.js"></script>
  

</body>
</html>
