<!-- home.html -->


<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
		    <div class="carousel-inner">
		        <div class="item active">
		        <img src="images/man-writing.png" alt="" class="img-responsive">
		           <div class="carousel-caption">
		           		<div class="row"><h3>THE FIRST STOP FOR SMART MONEY</h3></div>
		           		<div class="row"><p>A highly curated platform that brings together innovative founders with investors</p> </div>
		           		<div class="row"><button type="button" class="btn btn-primary btn-sm sharp"><p style="margin-bottom:0px;">HOW IT WORKS</p></button></div>
		           		
		           </div>
		        </div>
		    </div>
		</div>
	</div>
</div>


<div class="row text-center" style="padding-top:125px; padding-bottom:125px;">
	<div class="col-lg-1 col-md-1 col-sm-1"></div>
	<div class="col-lg-5 col-md-5 col-sm-5">
		<img src="/images/imachome.png" class="img-responsive grid-images" alt="Responsive image">
	</div>
	
	<div class="col-lg-6 col-md-6 col-sm-6 text-left">

		<h3 class="row">OUR PLATFORM</h3>
	
		<p class="row" style="padding-top: 25px;">Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.  Our model generates a double bottom line of ROI and enhanced lifestyle travel for our guests. We provide our investors a safe and secure real estate investment as well as luxury residences for their personal and professional travel.
		</p>

		<div class="row">
			<a ui-sref="soWorks">SEE HOW IT WORKS</a>
		</div>
	</div>
</div>




<div class="row" style="padding-bottom:2px;">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
		<img src="/images/ImgTestimonial.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
		<img src="/images/TestimonialBack3.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
</div>

<div class="row" style="padding-bottom:2px;">
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
		<img src="/images/TestimonialBack3.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
		<img src="/images/ImgTestimonial.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
</div>

<div class="row">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
		<img src="/images/ImgTestimonial.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
		<img src="/images/TestimonialBack3.jpg" class="img-responsive hidden-xs" alt="Responsive image">
		<!-- <img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->
	</div>
</div>


<div class="row" style="padding-top:75px; padding-bottom:75px;">
	<div class="text-center">
		<h3>FEATURED COMPANIES & INVESTORS</h3>
	</div>
</div>

<div class="row" style="padding-bottom:100px;">
	
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="row"><img src="/images/CompanyLogoSample.jpg" class="img-responsive" alt="Responsive image"></div>
		<div class="row"><h5 class="text-left" style="padding-top:10px; padding-bottom:10px;">AIRTABLE</h5></div>
		<div class="row"><p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.</p></div>
		<div class="row"><a ui-sref="">READ MORE</a></div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="row"><img src="/images/CompanyLogoSample.jpg" class="img-responsive" alt="Responsive image"></div>
		<div class="row"><h5 class="text-left" style="padding-top:10px; padding-bottom:10px;">AIRTABLE</h5></div>
		<div class="row"><p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.</p></div>
		<div class="row"><a ui-sref="">READ MORE</a></div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="row"><img src="/images/CompanyLogoSample.jpg" class="img-responsive" alt="Responsive image"></div>
		<div class="row"><h5 class="text-left" style="padding-top:10px; padding-bottom:10px;">AIRTABLE</h5></div>
		<div class="row"><p>Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.</p></div>
		<div class="row"><a ui-sref="">READ MORE</a></div>
	</div>
</div>








