<!-- home.html -->

<!-- <div class="text-center">
    <h1>On-demand evangelists</h1>
    <p>A new user-acquisition technique for start-ups and businesses of any budget.</p>  


    <a ui-sref="soAuthSocial" class="btn btn-primary">Be an Evangelist</a>
    <a ui-sref="soAuthRegistration" class="btn btn-danger">Find Evangelists</a>  
</div> -->


<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<!-- SCREEN SIZES LARGER THAN MOBILE -->
		<img src="/images/feature.png" class="img-responsive hidden-xs" alt="Responsive image" style="padding-bottom:0px; ">
		<a class="btn redirect-btn center-block hidden-xs" ui-sref="soInvest" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 200px; margin-top:-275px; z-index:1; position:relative;">
			<div class="button-text">VIEW LIVE OFFERINGS</div> 
		</a>
		
		<!-- MOBILE DEVICES -->
		<img src="/images/home-mobile.png" class="img-responsive hidden-lg hidden-md hidden-sm" alt="Responsive image">
		<img src="/images/key-mobile.png" class="img-responsive hidden-lg hidden-md hidden-sm" alt="Responsive image"> 
		<a class="btn redirect-btn center-block hidden-lg hidden-md hidden-sm" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 200px; margin-top:-200px; z-index:1; position:relative;">
			<div class="button-text">VIEW LIVE OFFERINGS</div> 
		</a>
		<div class="hidden-lg hidden-md hidden-sm" style="padding-bottom:200px;"></div>
		
	</div>
</div>

<div class="headline-section hidden-xs"></div>


<div class="container text-center">
	<h4>Headline About the Company</h4>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Escape Properties owns and operates premium residential accommodations for an exclusive set of members via our proprietary on-demand investment platform.  Our model generates a double bottom line of ROI and enhanced lifestyle travel for our guests. We provide our investors a safe and secure real estate investment as well as luxury residences for their personal and professional travel.</p>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
</div>


<div class="grid-images">
	<div class="col-lg-2 col-md-2 col-sm-2">
	</div>
	<div class="col-lg-8 col-md-8  col-sm-8 col-xs-12" style="padding-bottom:150px;">
		<img src="/images/grid-photos.png" class="img-responsive grid-images" alt="Responsive image">
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img src="/images/opportunities.png" class="img-responsive hidden-xs" alt="Responsive image">
		<img src="/images/opportunities-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image">
	</div>
</div>


<div class="">
	<div class=" success-text text-center">
		<h4>Headline about success stories</h4>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
			<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.
			</p>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
		</div>
	</div>
</div>

<div class="images-success">
	<div class="row" style="padding-bottom: 100px;">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/11-buc.png" class="img-responsive" alt="Responsive image">
			<div style="padding-left:20px;">
				<h3 style="color: #248FA2;">Success Story One</h3>
				<h5 id="cursive-font">Lorem ipsum dolor sit amet.</h5>
				<p>Escape Properties acquires undervalued assets in high-demand locations creating luxury residential accommodations for the enjoyment and financial benefit of our members.</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/11-buccaneer-main.png" class="img-responsive" alt="Responsive image">
			<h3 style="color: #248FA2;">COMING SOON!</h3>
			<!-- <h5 id="cursive-font">Lorem ipsum dolor sit amet.</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>

	<!-- <div class="row" style="padding-bottom: 50px;">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/3.png" class="img-responsive" alt="Responsive image">
			<h3 style="color: #248FA2;">Success Story Three</h3>
			<h5 id="cursive-font">Lorem ipsum dolor sit amet.</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/4.png" class="img-responsive" alt="Responsive image">
			<h3 style="color: #248FA2;">Success Story Four</h3>
			<h5 id="cursive-font">Lorem ipsum dolor sit amet.</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>	 -->
</div>


<div style="padding-bottom:75px">
	<a class="btn redirect-btn center-block hd-sm" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 200px; z-index:1; position:relative;">
				<div class="button-text">VIEW LIVE OFFERINGS</div> 
	</a>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<img src="/images/membership-img.png" class="img-responsive hidden-xs" alt="Responsive image">
		<img src="/images/membership-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image">
	</div>
</div>


<div class="headline-success-stories col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
	<div class=" success-text text-center">
		<h4>Headline About Members</h4>

		<div class="col-lg-3 col-md-3 col-sm-3 "></div>
		<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">As a member of Escape individuals will enjoy the opportunity of investing in desirable real estate investments with significant returns while also being able to take advantage of our luxury accommodations whenever their personal or professional schedule require them to travel to the cities where we own propeties.
		</p>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
	</div>
</div>


<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i1.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Justin Eighanayan</h4>
				<p id="cursive-font">President, Rockrose</p>
				<p style="font-size: 9px">MEMBER</p>
				
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i2.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Simon Ziff</h4>
				<p id="cursive-font">President, Ackman-Ziff</p>
				<p style="font-size: 9px">MEMBER</p>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1   text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i3.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Terrence Rohan</h4>
				<p id="cursive-font">Index Ventures</p>
				<p style="font-size: 9px">MEMBER</p>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2  text-center">
			</div>
		</div>
</div>

<div class="row" style="padding-bottom:50px;">
			<div class="col-lg-2 col-md-2 col-sm-2  text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i4.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Kendall Davis</h4>
				<p id="cursive-font">Founder & CEO, Renren</p>
				<p style="font-size: 9px">MEMBER</p>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i5.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Jon Schultz</h4>
				<p id="cursive-font">Managing Principal, Onyx Equities</p>
				<p style="font-size: 9px">MEMBER</p>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1  text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
				<img src="/images/i6.png" class="img-responsive" alt="Responsive image">
				<h4 id="escape-blue">Jonathan Sterns</h4>
				<p id="cursive-font">CEO, Meridan Capital</p>
				<p style="font-size: 9px">MEMBER</p>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2  text-center">
			</div>
		</div>
</div>

<div style="padding-bottom:75px;">
	<a class="btn redirect-btn center-block hd-sm" ui-sref="soAbout" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 225px; z-index:1; position:relative;">
				<div class="button-text">MORE ABOUT MEMBERSHIP</div> 
	</a>
</div>


<!-- <div class="row" style="padding-bottom:75px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img src="/images/press-headline.png" class="img-responsive hidden-xs" alt="Responsive image">
		<img src="/images/press-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image">
	</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<img src="/images/bankless-times.png" class="img-responsive" alt="Responsive image">
		<h3 style="color: #248FA2;">The Tech Start-Ups Raising The Most Cash</h3>
				<h5 id="cursive-font">May 10, 2015</h5>
				<p>“In the last three years, the real estate world has seen a veritable boom in the number of tech start-ups. And while many of those firms have made headlines for their splashy entrées onto the real estate scene, some are clearly pulling ahead as others are trailing.”</p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<img src="/images/rise-h-street.png" class="img-responsive" alt="Responsive image">
		<h3 style="color: #248FA2;">How The Rise of H Street Inspired Real-Estate Crowdfunding</h3>
				<h5 id="cursive-font">April 27, 2015</h5>
				<p>“All in all, the company has overseen investment rounds for about 10 properties in D.C., and about 50 nationwide. Since 2013, Fundrise has also begun underwriting investment deals for other real estate companies and pushing them onto the platform.”
				</p>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<img src="/images/inc.png" class="img-responsive" alt="Responsive image">
		<h3 style="color: #248FA2;">The (Slow) Rise of Real-Estate Tech</h3>
				<h5 id="cursive-font">April 16, 2015</h5>
				<p>“Those who look to invest in high-yielding real estate, as well as developers and sponsors looking to fund real estate projects, now have unparalleled access to each other via online real estate marketplaces.”</p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<img src="/images/inman-news.png" class="img-responsive" alt="Responsive image">
		<h3 style="color: #248FA2;">Why Scaling a Company Just Got Easier</h3>
				<h5 id="cursive-font">March 27, 2015</h5>
				<p>“'The new regulations will allow us to access not just the high net worth investors, but anyone who wants to invest in our deals,' says Ben Miller, chief executive of Fundrise.”</p>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:75px;">
	<a class="btn redirect-btn center-block hd-sm" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 225px; z-index:1; position:relative;">
		<div class="button-text">VIEW ALL PRESS</div> 
	</a>
</div> -->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enjoy-footer">

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-sm-offset-2">
		<h4 style="color: white; margin-left: 20px" id="cursive-font">Enjoy Your Returns</h4>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soStay" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px; ">
		<div class="button-text">STAY</div> 
	</a>
	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soInvest" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px;">
		<div class="button-text">INVEST</div> 
	</a>
</div>

