<!-- home.html -->

<!-- <div class="text-center">
    <h1>On-demand evangelists</h1>
    <p>A new user-acquisition technique for start-ups and businesses of any budget.</p>  


    <a ui-sref="soAuthSocial" class="btn btn-primary">Be an Evangelist</a>
    <a ui-sref="soAuthRegistration" class="btn btn-danger">Find Evangelists</a>  
</div> -->



<div class="col-lg-12 col-md-12 col-xs-12">
	<img src="/images/feature.png" class="img-responsive" alt="Responsive image">
</div>


<div class="container headline-section text-center">
	<h4>Headline About the Company</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
</div>


<div class="grid-images">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<img src="/images/grid-photos.png" class="img-responsive grid-images" alt="Responsive image">
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<img src="/images/opportunities.png" class="img-responsive" alt="Responsive image">
	</div>
</div>


<div class="headline-success-stories">
	<div class=" success-text text-center">
		<h5>Headline about success stories</h5>
		<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.
		</p>
	</div>

	<div class="images-success">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="/images/1.png" class="img-responsive" alt="Responsive image">
				<h3>Success Story One</h3>
				<h4>Lorem elipsum sum</h4>
				<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="/images/2.png" class="img-responsive" alt="Responsive image">
				<h3>Success Story Two</h3>
				<h4>Lorem elipsum sum</h4>
				<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="/images/3.png" class="img-responsive" alt="Responsive image">
				<h3>Success Story Three</h3>
				<h4>Lorem elipsum sum</h4>
				<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="/images/4.png" class="img-responsive" alt="Responsive image">
				<h3>Success Story Four</h3>
				<h4>Lorem elipsum sum</h4>
				<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result.</p>
			</div>
		</div>	
	</div>


	<div class="offerings-button">
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<a href="offereings">
				<img src="/images/offerings-button.png" class="img-responsive" alt="Responsive image">
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
	</div>
</div>

<div class="row membership-heading">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<img src="/images/membership-img.png" class="img-responsive" alt="Responsive image">
	</div>
</div>


<div class="headline-success-stories">
	<div class=" success-text text-center">
		<h5>Headline about success stories</h5>
		<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.
		</p>
	</div>
</div>


<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 headshot">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i1.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
				
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i2.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i3.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
			</div>
		</div>
</div>

<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i4.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i5.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<img src="/images/i6.png" class="img-responsive" alt="Responsive image">
				<h3>Justin Eighanayan</h3>
				<h4>President, Rockrose</h4>
				<h5>Member</h5>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
			</div>
		</div>
</div>


<div ui-view></div>