<img src="/images/stay-header.png" class="img-responsive" alt="Responsive image">	

<div class="col-lg-3 col-md-3 col-sm-3">
	<h3>New York</h3>
	<ul>
		<li>MEATPACKING</li>
		<li>UPPER WEST SIDE</li>
		<li>WEST VILLAGE</li>
		<li>LOWER EAST SIDE</li>
		<li>DUMBO</li>
	</ul>
</div>

<div class="col-lg-8 col-md-8 col-sm-8">
	<img src="/images/stay-yellow-img.png" class="img-responsive" alt="Responsive image">

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pull-left">Rental Price $3,256</div>
		<div class="col-lg-2 col-md-2 col-sm-2 pull-right">1,200 sq. ft.</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 pull-left">848 Washington St. New York, NY</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.
			</p>
		</div>
	</div>

	<img src="/images/stay-grid-images.png" class="img-responsive" alt="Responsive image">	
</div>

<div class="col-lg-12 col-md-12 col-sm-12 enjoy-footer">
</div>