<img src="/images/stay-header.png" class="img-responsive hidden-xs" alt="Responsive image">	
<img src="/images/stay-mobile.png" class="img-responsive hidden-lg hidden-md hidden-sm" alt="Responsive image">	



<div class="col-lg-4 col-md-4 col-sm-4" style="padding-left:110px;">
	<h3 style="padding-left:40px;" id="cursive-font">Los Angeles</h3>
	<ul style="font-size: 12px; list-style: none;">
		<li id="escape-blue">Venice, 11 Buccaneer</li>
		<li style="padding-top: 10px;">Venice 2 Coming Soon</li>
		<!-- <li id="escape-blue" style="padding-top: 10px;">WEST VILLAGE</li>
		<li id="escape-blue" style="padding-top: 10px;">LOWER EAST SIDE</li>
		<li id="escape-blue" style="padding-top: 10px;">DUMBO</li> -->
	</ul>
	<h3 style="padding-left:40px;" id="cursive-font">New York</h3>
	<ul style="font-size: 12px; list-style: none;">
		<li >Coming Soon</li>
	</ul>
	<h3 style="padding-left:40px;" id="cursive-font">Miami</h3>
	<ul style="font-size: 12px; list-style: none;">
		<li >Coming Soon</li>
	</ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/11-buccaneer-main.png" class="img-responsive" alt="Responsive image" style="padding-bottom: 30px;">

	<div class="row" style="padding-bottom: 8px;">
		<div class="col-lg-4 col-md-4 col-sm-6 pull-left">Rental Price $3,256</div>
		<div class="col-lg-3 col-md-3 col-sm-6 pull-right">1,200 sq. ft.</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-6 col-md-6 col-sm-8 pull-left" id="cursive-font">Venice, 11 Buccaneer</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>This home is brand new to the rental market, it was fully remodeled in April of 2015 and is steps from the best beach in Vencie. The home enjoys beautiful ocean views from all four levels and has three private out door spaces (two balconies and one 400 sq/ft roof deck). 
			<br>
			It is ideally located on corner lot of a charming walk street steps from the sand in one of Venice Beach’s most sought after areas. You will have everything at your 
  			immediate disposal, from top tier restaurants to casual dining option, bike paths to canal strolls and bars to yoga studios. 
  			<br>
			Without a doubt, this is the ideal location for anyone who is looking to get the most out of their trip to Venice Beach while also hoping to recharge and rejuvenate with a great nights sleep and proper relaxation. 
			<br>
			This private home was fully remodeled this year with luxury products in all bathrooms, floors, kitchen, appliances and furniture. All of the electronics in the house are brand new and the home is fully wired with WiFi. If you are here to play or work, all of your bases will squarely be covered. You also will have two parking spots in the garage, four beach cruisers for easy getting around and a nearly 400 square foot private roof deck with full outdoor kitchen and propane grill.
			<br>
			The home has a property manager named Tammy who can assist you with any house related item within 24 hours. We pride ourselves on the quality of our home and the experience you will have in it. We have spared no expense to ensure this stay is one that you will always remember fondly.
			</p>
		</div>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 " ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 160px; margin-bottom: 40px;">
		<div class="button-text">STAY NOW </div> 
	</a>

	<img src="/images/11-buccaneer-grid-9.png" class="img-responsive" alt="Responsive image" style="padding-bottom: 80px;">	
</div>




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enjoy-footer">

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-sm-offset-2">
		<h4 style="color: white; margin-left: 20px" id="cursive-font">Enjoy Your Returns</h4>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soStay" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px; ">
		<div class="button-text">STAY</div> 
	</a>
	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soInvest" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px;">
		<div class="button-text">INVEST</div> 
	</a>
</div>