<!-- COMPANY PROFILE PIC AND DESCRIPTION SECTION -->
<div class="row company-profile-splash">
	

	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>

		<!-- DEFAULT PROFILE PICTURE OR USER PHOTO -->
		<div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<!-- <img data-ng-src="{{user.prof_pic_prefix}},{{user.prof_pic_data}}" data-err-src="images/polygons.png" class="img-responsive" alt="Responsive image"> -->
			<div class="row row-centered">
				<div ng-hide="user.profile_pic" class="col-centered">
					<img src="images/Profilepic.png" class="img-responsive" alt="Responsive image"> 
				</div>
				<div ng-show="user.profile_pic" class="col-centered">
					<img ng-src="{{user.profile_pic}}" class="img-responsive" alt="Responsive image"> 
				</div>
			</div>
			<div class="row row-centered">
				<div class="col-centered company-social-links">
					<img src="images/fbprofile.png" class="img-responsive social-icons">
		            

		            <img src="images/twitterprofil.png" class="img-responsive social-icons">


		            <img src="images/instaprofile.png" class="img-responsive social-icons">


		            <img src="images/rssprofile.png" class="img-responsive social-icons">

		         </div>
			</div>
		</div>
		<!-- <div ng-show="user.prof_pic_data" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<img ng-show="user.prof_pic_data" ng-src="{{user.prof_pic_data}}" class="img-responsive" alt="Responsive image"> 
		</div> -->
		<!-- <img data-ng-src="{{user.prof_pic_prefix}},{{user.prof_pic_data}}" data-err-src="images/polygons.png" class="img-responsive" alt="Responsive image"> -->
		<!-- END PROFILE PICTURE -->

		
		<div class="company-splash-headline col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<div class="row">
				<div class="white-text">
					<h2 class="float-left">{{user.company_name | uppercase}}</h2>
					<div style="margin-top:20px; padding-right:100px;" class="float-right">
						<a ui-sref="profile.company_edit">
							<button type="button" class="btn btn-edit gotham-font" >
							EDIT <img src="images/edit.png" class="float-right edit-image">
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="white-text col-lg-11 col-md-11 col-sm-11 col-xs-11">
					<p>{{user.company_description}} </p>
				</div>
			</div>
		</div>
	</div>


</div>


<!-- GREY BAR DEMOGRAPHICS SECTION -->
<div class="company-demographics-section">
	
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/pin.png" alt="" class="vcenter float-left pin-img">  
				<h5 style="color: #2F3437; float:right;" class="vcenter float-right">Headquarters:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.headquarters_city}}, {{user.headquarters_state}}</p>
			</div>
		</div>	
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/founders.png" alt="" class="float-left pin-img">
				<h5 style="color: #2F3437" class="float-right">Founders:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.founders}}</p>
			</div>
		</div>	
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/industry.png" alt="" class="float-lef pin-img"> 
				<h5 style="color: #2F3437" class="float-right">Industry:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.industry}}</p>
			</div>
		</div>	
	</div>


	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/site.png" alt="" class="float-left pin-img"> 
				<h5 style="color: #2F3437" class="float-right">Website:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.website}}</p>
			</div>
		</div>	
	</div>

	<!-- END TOP MODAL -->
</div>




<!-- BEGIN WHITE SECTION -->

<!-- BEING INTRO SECTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter" style="min-height:100px; padding-top:30px;">
	<h3 class="vcenter gotham-font grey-text">{{company_struct.presentation_items.presentation_title | uppercase}}</h3>
</div>

<!-- CAROUSEL SECTION -->
<div class="carousel-section text-center row">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    <div ng-show="carousel_photos_count > 0" style="height: 305px">
	    	<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
	      		<uib-slide ng-repeat="(photo_storage_id, photo_struct) in company_struct.presentation_items.photos track by $index" active="photo_struct.active" index="photo_struct.index">
	        		<img ng-src="{{photo_struct.url}}" style="margin:auto;">
	        		<div class="carousel-caption">
	          			<p>{{photo_struct.caption}}</p>
	        		</div>
	      		</uib-slide>
	    	</uib-carousel>
	  	</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>


<!-- FUNDING ROUNDS SECTION -->
<div class="row profile-company-jobs">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter" style="min-height:100px; padding-top:30px;">
		<h3 class="vcenter gotham-font grey-text">FUNDING ROUNDS ({{company_struct.funding_rounds.length}})</h3>
	</div>
	

	<div class="row" style="padding-bottom:50px;">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="profile-company-deals-area  col-lg-10 col-md-10 col-sm-10 col-xs-10" style="background-color: #F2F2F2;">	
			<div class="profile-company-jobs-card">
				<table style="width:100%" frame="void">
				  <tr>
					    <th>DATE</th>
					    <th>AMOUNT / ROUND</th>
					    <th>VALUATION</th>
					    <th>LEAD INVESTOR</th>
					    <th>INVESTORS</th>
				  </tr>
				  <tr ng-repeat="funding in company_struct.funding_rounds track by $index">
					    <td>{{funding.date}}</td>
					    <td>{{funding.amount}}</td>
					    <td>{{funding.valuation}}</td>
					    <td id="blue-text">{{funding.lead_investor}}</td>
					    <td>{{funding.investors_count}}</td>
				  </tr>
				  <tr>
				    <td><input type="text" class="form-control" placeholder="Sept 2016" ng-model="new_fd_date"></td>
				    <td><input type="text" class="form-control" placeholder="100k" ng-model="new_fd_amount"></td>
				    <td><input type="text" class="form-control" placeholder="1M" ng-model="new_fd_valuation"></td>
				    <td><input type="text" class="form-control" placeholder="John Doe" ng-model="new_fd_lead_investor"></td>
				    <td><input type="text" class="form-control" placeholder="3" ng-model="new_fd_investors_count"></td>
				  </tr>
				</table>

				<div class="row row-centered" ng-show="clicked_add_funding_round">
					<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-8">
						<uib-progressbar class="progress-striped active" value="dynamic" type="success"><i>Adding funding round...</i></uib-progressbar>
					</div>
				</div>

			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="row row-centered">
		<div class="col-centered">
			<button ng-click="clicked_add_funding_round = true;addFundingRound()" class="btn btn-airforce-blue">START NEW</button>
		</div>
	</div>

	<div class="row">
		<div class="row row-centered">
			<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<uib-alert ng-repeat="alert in alerts_addFundingRound" type="{{alert.type}}" close="closeAlertFundingRound($index)">{{alert.msg}}</uib-alert>
			</div>
		</div>
	</div>

</div>
<!-- END FUNDING ROUNDS SECTION SECTION -->



<!-- BEGIN DEALS SECTION -->
<div class="row">
	<div class="row" style="padding-bottom: 50px;">
		<div class="row text-center pagination-centered">
			<h3 class="vcenter gotham-font grey-text">DEAL FLOW MANAGEMENT</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="background-color: #F2F2F2;">
			<div class="profile-company-deals-area"></div>
				<div class="profile-company-deals-table">

					<div ng-repeat="(deal_name, deal_struct) in company_struct.deal_flow_management track by $index">
						<div class="row" >
							<p> <span class="airforce-text">{{deal_name}}</span> -  {{deal_struct.date}}</p>
						</div>
						<div class="row deal-description-row">
							<p>{{deal_struct.description}}</p>
						</div>


						<div ng-repeat="(doc_name, doc_struct) in deal_struct.document_structs" class="row deal-documents-row">
							<a ng-click="getDocument(deal.name, doc_name)"><p class="airforce-link">{{doc_name}}</p></a>
						</div>

						<div class="row">
							<input type="file" file-upload multiple/>
						    <ul>
						        <li ng-repeat="file in files">{file.name}}</li>
						    </ul>
						</div>
						<div class="row">
							<button ng-click="uploadDealFile(deal)" type="button" class="btn btn-airforce-blue" >UPLOAD FILES</button>
							<button ng-click="signDeal(deal_name)" type="button" class="btn btn-dark-grey" >SIGN DEAL</button>
						</div>
						
					</div>

					<div class="row" style="padding-top:50px;">
						<h3>Add New Deal</h3>
						<p>Deal name:</p><input type="text" class="form-control" ng-model="new_deal_name">
					    <p>Deal date:</p><input type="text" class="form-control" ng-model="new_deal_date">
					    <p>Deal description:</p><input type="text" class="form-control" ng-model="new_deal_description">
						<button ng-click="addDeal()" type="button" class="btn btn-airforce-blue" >ADD DEAL</button>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
		</div>
	</div>

</div>
<!-- END DEALS SECTION -->



<!-- BEGIN INVESTMENTERS AND ADVISORS SECTION -->
<div class="row" style="margin-top:70px; margin-bottom:70px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
		<h3 class="vcenter gotham-font grey-text">INVESTORS AND ADVISORS</h3>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row text-center pagination-centered">
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
					<p>BOARD MEMBERS</p>
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in company_struct.members.board_members.accepted">
					<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.user_photo_url}}"> </IMG>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-10">
		<img src="images/horiz-divider-lg.png" style="width: 100%;">
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row text-center pagination-centered">
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
					<p>INVESTORS</p>
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in company_struct.members.investors.accepted">
					<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.user_photo_url}}"> </IMG>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>


	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-10">
		<img src="images/horiz-divider-lg.png" style="width: 100%;">
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row text-center pagination-centered">
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
					<p>EMPLOYEES</p>
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in company_struct.members.employees.accepted">
					<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.user_photo_url}}"> </IMG>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

</div>
<!-- END INVESTMENTERS AND ADVISORS SECTION -->



<!-- END WHITE SECTION