<!-- <div ui-view></div> -->

<div style="min-height:350px; background-color: #437592;" >

	<div style="padding-top: 50px;">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		</div>
		<div ng-click="editing = true" ng-hide="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<button type="button" class="btn btn-default btn-md gotham-font" >Edit</button>
		</div>
		<div ng-click="setChanges()" ng-show="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<button type="button" class="btn btn-default btn-md gotham-font">Submit</button>
		</div>
	</div>
	

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	</div>

	<div ng-hide="user.profile_pic" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<img ng-hide="user.profile_pic" src="images/polygons.png" class="img-responsive" alt="Responsive image"> 
	</div>

	<div>Select an image file: <input type="file" id="fileInput" /></div>
	<div class="cropArea">
	    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
	</div>
	<div>Cropped Image:</div>
	<div><img ng-src="{{myCroppedImage}}" /></div>
	<button ng-click="uploadProfilePic(myCroppedImage)">Submit</button> 



	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 gotham-font">
		<div ng-hide="editing" class="white-text">
			{{company_name}}
		</div>
		<input ng-show="editing" type="text" ng-model="company_name" placeholder="{{company_name}}" ng-required/>
	</div>
		
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 gotham-font">
		<div ng-hide="editing" class="white-text">
			<p>{{headline}} </p>
		</div>
		<input ng-show="editing" type="text" ng-model="headline" placeholder="{{headline}}" ng-required/>
	</div>

	
</div>

<div style="min-height:150px; padding-top:35px; background-color: #EDEDED;">
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-left">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<img src="images/pin.png" alt="">  
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<h5 style="color: #2F3437">Headquarters:</h5>
		</div>
		<div ng-hide="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
		</div>
		<div ng-hide="editing" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<p class="gray-text">{{city}}, {{state}}</p>
		</div>
		<input ng-show="editing" type="text" ng-model="city" placeholder="{{city}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required/>
		<input ng-show="editing" type="text" ng-model="city" placeholder="{{state}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required/>
		
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<img src="images/role.png" alt=""> 
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h5 style="color: #2F3437">Founders:</h5>
		</div>
		<div ng-hide="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
		</div>
		<div ng-hide="editing" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<p class="gray-text">{{founders}}</p>
		</div>
		<input ng-show="editing" type="text" ng-model="founders" placeholder="{{founders}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required/>
		
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<img src="images/industry.png" alt=""> 
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h5 style="color: #2F3437">Industry:</h5>
		</div>
		<div ng-hide="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
		</div>
		<div ng-hide="editing" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<p class="gray-text">{{industry}}</p>
		</div>
		<input ng-show="editing" type="text" ng-model="link" placeholder="{{}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required/>
		
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<img src="images/site.png" alt=""> 
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h5 style="color: #2F3437">Website:</h5>
		</div>
		<div ng-hide="editing" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
		</div>
		<div ng-hide="editing" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<p class="gray-text">{{website}}</p>
		</div>
		<input ng-show="editing" type="text" ng-model="website" placeholder="{{website}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-required/>
	</div>


	<!-- END TOP MODAL -->
</div>

<!-- BEGIN WHITE SECTION -->


<!-- BEING INTRO SECTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter" style="min-height:100px; padding-top:30px;">
	<h3 class="vcenter gotham-font grey-text">INTRODUCTION TO {{company_name | uppercase}}</h3>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter row" style="padding-bottom:70px;">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    <div style="height: 305px">
	    	<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
	      		<uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
	        		<img ng-src="{{slide.image}}" style="margin:auto;">
	        		<div class="carousel-caption">
	          			<h4>Slide {{slide.id}}</h4>
	          			<p>{{slide.text}}</p>
	        		</div>
	      		</uib-slide>
	    	</uib-carousel>
	  	</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter row" style="padding-top:30px; padding-bottom:50px;">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
<!-- ENDING INTRO SECTION -->


<!-- BEGIN JOBS SECTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center vcenter" style="min-height:100px;">
	<h3 class="vcenter gotham-font grey-text">FUNDING ROUNDS - {{funding_roundes.length}}</h3>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<table style="width:100%" frame="void">
		  <tr>
			    <th>DATE</th>
			    <th>AMOUNT / ROUND</th>
			    <th>VALUATION</th>
			    <th>LEAD INVESTOR</th>
			    <th>INVESTORS</th>
		  </tr>
		  <tr ng-repeat="funding in funding_rounds track by $index">
			    <td>{{funding.date}}</td>
			    <td>{{funding.amount}}</td>
			    <td>{{funding.valuation}}</td>
			    <td>{{funding.lead_investor}}</td>
			    <td>{{funding.investors_count}}</td>
		  </tr>
		  <tr>
		    <td><input type="text" class="form-control" ng-model="new_date"></td>
		    <td><input type="text" class="form-control" ng-model="new_amount"></td>
		    <td><input type="text" class="form-control" ng-model="new_valuation"></td>
		    <td><input type="text" class="form-control" ng-model="new_lead_investor"></td>
		    <td><input type="text" class="form-control" ng-model="new_investors_count"></td>
		  </tr>
		</table>
		<button ng-click="addFundingRound(new_data, new_amount, new_valuation, new_lead_intestor, 
		  	new_investors_count)" class="btn btn-primary">Add Funding Round</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
<!-- END JOBS SECTION -->


<!-- BEGIN DEALS SECTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 50px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
		<h3 class="vcenter gotham-font grey-text">DEAL FLOW MANAGEMENT</h3>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

		<div ng-repeat="deal in deals" class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 25px;">
				<p>{{deal.deal_name}} -  {{deal.date}}</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
				<p>{{deal.description}}</p>
			</div>
			<div ng-repeat="doc in deal.documents" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>{{doc.name}}</p>
			</div>

			<div>
				<button ng-click="" class="btn btn-primary" style="margin-top:30px; margin-bottom: 20px;">Call To Action</button>
			</div>
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	</div>
</div>
<!-- END DEALS SECTION -->

<!-- BEGIN INVESTMENTS SECTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
	<h3 class="vcenter gotham-font grey-text">INVESTORS AND ADVISORS</h3>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left">
		<p>BOARD MEMBERS</p>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in board_members">
		<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.pic_url}}"> </IMG>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
	</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<img src="images/horiz-divider-lg.png">
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left">
		<p>INVESTORS</p>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in board_members">
		<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.pic_url}}"> </IMG>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
	</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<img src="images/horiz-divider-lg.png">
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination-centered">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left">
		<p>EMPLOYEES</p>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="member in board_members">
		<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.pic_url}}"> </IMG>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>{{member.name}}</p></div>
	</div>
</div>




<!-- END INVESTMENTS SECTION -->



<!-- END WHITE SECTION