<div class="edit-company-top-bar row row-centered">
	<div class="col-centered">
		<div class="row">
			<p >Editing {{company_name}} company information <button class="btn-airforce-blue" ng-click="setChanges()">SAVE CHANGES</button> <a ui-sref="profile.company"><button class="btn-airforce-blue pull-right">DISCARD CHANGES</button></a></p>
		</div>
	</div>
</div>



<div class="edit-company-navbar row row-centered">
	<div class="col-centered">
		<a class="edit-company-link" ng-click="scrollTo('edit-company-details')">Company Details</a>
		<a class="edit-company-link" ng-click="scrollTo('edit-company-presentation')">Presentation</a>
		<a class="edit-company-link" ng-click="scrollTo('edit-company-members')">Team Members</a>
		<a class="edit-company-link" ng-click="scrollTo('edit-company-permissions')">Permissions</a>
	</div>
</div>


<div class="edit-company-details" id="edit-company-details">
	
	<div class="row edit-company-profpic-row">
		<!-- This is show if user does not have profile_pic set -->
		<div ng-hide="profile_pic" class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<img ng-hide="user.profile_pic" src="images/Profilepic.png" class="img-responsive" alt="Responsive image"> 
			<img ng-show="user.profile_pic" ng-src="{{user.profile_pic}}" class="img-responsive" alt="Responsive image"> 
			<div class="row">
			<div class="row">
				<div class="row row-centered">	
					<p ng-click="clickFileInputProfPic();" style="padding-top:15px;">Change photo</p>
					<div><input class="col col-centered" type="file" id="fileInput" style="display:none;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div ng-show="myImage" class="cropArea col-lg-3 col-md-3 col-sm-3 col-xs-3">
				    <img-crop image="myImage && editing_profile_photo" result-image="myCroppedImage"></img-crop>
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

				<div ng-show="myImage && editing_profile_photo"><p>Cropped Image:</p></div>
				<div ng-show="myImage && editing_profile_photo"><img ng-src="{{myCroppedImage}}" /></div>
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>
				<button class="btn btn-default" ng-show="myImage && editing_profile_photo" ng-click="uploadProfilePic(myCroppedImage); editing_profile_photo=false;">Submit</button> 
			</div>
		</div>
		</div>
		<div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3 vcenter">
			<div class="row">
				<p>Company Name</p>
			</div>
			<div class="row">
				<input type="text" class="form-control" ng-model="user.company_name" style="margin-bottom:20px; width:100%;" placeholder="company_name">
			</div>
		</div>
		

		<div ng-show="profile_pic" class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<img ng-src="{{profile_pic}}" class="img-responsive" alt="Responsive image"> 
		</div>


	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Description</p>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<textarea class="span6" ng-model="user.company_description" rows="6" placeholder="Tell others about yourself" style="width: 100%; border-color: #CCCCCC;" required></textarea>
			<!-- <input type="text" class="form-control" ng-model="company_description" style="margin-bottom:20px; width:100%; heigh: 100px;" placeholder="Tell others about yourself"> -->
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Headquarters address</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control float-left" ng-model="user.headquarters_city" style="margin-bottom:20px; width:100%;" placeholder="City">
			<input type="text" class="form-control float-right" ng-model="user.headquarters_state" style="margin-bottom:20px; width:100%;" placeholder="State">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Industry</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.industry" style="margin-bottom:20px; width:100%;" placeholder="your company industry">
		</div>
	</div> 


	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Website</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.website" style="margin-bottom:20px; width:100%;" placeholder="Website">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Facebook link</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.facebook_link" style="margin-bottom:20px; width:100%;" placeholder="Facebook link">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Instagram</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.instagram_link" style="margin-bottom:20px; width:100%;" placeholder="Instagram link">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Linkedin</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.linkedin_link" style="margin-bottom:20px; width:100%;" placeholder="Linkedin link">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Twitter</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.twitter_link" style="margin-bottom:20px; width:100%;" placeholder="Twitter link">
		</div>
	</div> 

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Founders</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="user.founders" style="margin-bottom:20px; width:100%;" placeholder="Founders">
		</div>
	</div> 
</div>


<div class="edit-company-presentation" id="edit-company-presentation">
	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<h4>Presentation</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<p>Title</p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<input type="text" class="form-control" ng-model="company_struct.presentation_items.presentation_title" style="margin-bottom:20px; width:100%;" placeholder="Introduction to your company">
		</div>
	</div> 


	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
			<p>Photos</p>
		</div>

	
    	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      		<div ng-repeat="(photo_storage_id, photo_struct) in company_struct.presentation_items.photos track by $index">
      			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	        		<img ng-src="{{photo_struct.url}}" class="img-responsive">
	        		<span ng-click="deleteCarouselImage(photo_storage_id)" class="glyphicon glyphicon-remove top-left-position text-danger" aria-hidden="true"></span>
          		</div>
      		</div>
  		</div>
  	</div>



		  	
	<div class="row" style="padding-top: 20px;">
		<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
			<div class="row" style="padding-top:20px;">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>
				<button class="btn btn-default" ng-show="myImage && editing_carousel_photo" ng-click="uploadCarouselImage(myImage); editing_carousel_photo=false;">Submit</button> 
			</div>
		
			<div>
				<button ng-click="clickFileInputCarouselPic();" class="btn-rounded btn-default  col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">Upload more</button>
				<div><input class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" type="file" id="carouselInput" style="display:none;"></div>
			</div>
		</div>

		
	</div>
  


</div>



<div class="edit-company-members" id="edit-company-members">
	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<h4>Members</h4>
		</div>
		
	</div>

	<div class="row edit-boardmembers-row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<div class="clearfix col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<p>Board Members - {{board_member_count}}</p>
			</div>

			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-repeat="member in company_struct.members.board_members.accepted">
					<IMG class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-src="{{member.user_photo_url}}"> </IMG>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="text-center">{{member.name}}</p></div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
					vim 
				</div>
			</div>
			
		</div>
	</div>

	
	<div class="row edit-investors-row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<div class="clearfix col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<p>Investors - {{investor_count}}</p>
			</div>

			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
				
				<button class="btn btn-addnew-member" ng-click="open()">ADD NEW</button>
			</div>
			
		</div>
	</div>

	
	<div class="row edit-employees-row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<div class="clearfix col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<p>Employees - {{employees_count}}</p>
			</div>

			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
				
				<button class="btn btn-addnew-member" ng-click="open()">ADD NEW</button>
			</div>
			
		</div>
	</div>

</div>


<div class="edit-company-permissions" id="edit-company-permissions">
	<div class="row">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<h4>Member Permissions</h4>
		</div>
		
	</div>

	<div class="row profile-company-jobs-card">
		<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<table style="width:100%" frame="void">
			  <tr>
			  		<th></th>
			  		<th class="edit-permissions-top-th">Investor Permissions</th>
			  		<th class="edit-permissions-top-th">External Service Professionals</th>
			  		<th class="edit-permissions-top-th">Team Members</th>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">Create events</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.create_events" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.create_events"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.create_events"value=""></td>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">Upload Documents</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.upload_documents" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.upload_documents"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.upload_documents"value=""></td>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">Sign Documents</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.sign_documents" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.sign_documents"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.sign_documents"value=""></td>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">Send & Create Reminders</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.sign_create_reminders" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.sign_create_reminders"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.sign_create_reminders"value=""></td>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">Wire Money</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.wire_money" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.wire_money"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.wire_money"value=""></td>
			  </tr>
			  <tr>
			  		<th class="edit-member-permissions-th">View documents, presentations, financials</th>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.investor_permissions.view_documents_presentations_financials" value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.external_services_permissions.view_documents_presentations_financials"value=""></td>
				    <td class="centered-td"><input type="checkbox" ng-model="company_struct.member_permissions.team_member_permissions.view_documents_presentations_financials"value=""></td>
			  </tr>
			  
			  
			</table>
		</div>
	</div>
	
</div>