
<div ng-repeat="device in devices track by $index"> 
	<div ng-click="ClickedDevice(device.id)" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<img src="/images/mac-device.png" class="img-responsive hidden-xs" alt="Responsive image" style="padding-bottom: 20px;">
		<h5 ng-click="ClickedDevice(device.id)">{{device.name}}</h5>
	</div>
</div>

<div ng-show="deviceCount == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	<h1>Hey, looks like you haven't set up any devices yet. Download Parachute for Mac to see your files here.
	</h1>
</div>
