<div class="row company-profile-splash">
	

	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>

		<!-- DEFAULT PROFILE PICTURE OR USER PHOTO -->
		<div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

			<div class="row row-centered">
				<div class="col-centered">
					<img ng-src="{{user.profile_pic}}" class="img-responsive img-circle" alt="Responsive image"> 
				</div>
			</div>
		</div>

		<!-- END PROFILE PICTURE -->

		
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 investor-splash-textinfo">
			<div class="row">
				<div class="white-text">
					<h2 class="float-left">{{user.firstname | uppercase}} {{user.lastname | uppercase}}</h2>
					<div style="margin-top:20px; padding-right:100px;" class="float-right">
						<a ui-sref="profile.investor_edit">
							<button type="button" class="btn btn-edit gotham-font" >
							EDIT <img src="images/edit.png" class="float-right edit-image">
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="white-text">
					<p>{{user.description}} </p>
				</div>
			</div>
		</div>
	</div>

	
</div>



<!-- Investor Demographics bar -->
<!-- GREY BAR DEMOGRAPHICS SECTION -->
<div class="row company-demographics-section">
	
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/pin.png" alt="" class="vcenter float-left pin-img">  
				<h5 style="color: #2F3437; float:right;" class="vcenter float-right">Headquarters:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.city}}, {{user.state}}</p>
			</div>
		</div>	
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/founders.png" alt="" class="float-left pin-img">
				<h5 style="color: #2F3437" class="float-right">Primary role:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col-centered company-social-links">
				<p class="gray-text text-center">{{user.primary_role}}</p>
			</div>
		</div>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/founders.png" alt="" class="float-left pin-img">
				<h5 style="color: #2F3437" class="float-right">Social media:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col-centered company-social-links">
				<img src="images/fbprofile.png" class="img-responsive social-icons">
	            

	            <img src="images/twitterprofil.png" class="img-responsive social-icons">


	            <img src="images/instaprofile.png" class="img-responsive social-icons">


	            <img src="images/rssprofile.png" class="img-responsive social-icons">

	         </div>
		</div>
	</div>


	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/site.png" alt="" class="float-left pin-img"> 
				<h5 style="color: #2F3437" class="float-right">Website:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.website}}</p>
			</div>
		</div>	
	</div>

	<!-- END TOP MODAL -->
</div>





<!-- BEGIN WHITE SECTION -->

<!-- BEGIN JOBS SECTION -->
<div class="row row-centered">
	<div class="col col-centered investor-jobs-headline" style="">
		<h3 class="text-center gotham-font grey-text">JOBS - {{jobs_count}}</h3>
	</div>
</div>	


<div class="row investor-jobs-body">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="jobs-gray-section col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row" ng-repeat=" job in investor_struct.jobs">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:10px; padding-bottom:10px;">
				<img ng-src="{{job.company_pic_url}}" class="img-responsive"> 
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-top:10px; padding-bottom:10px;">
				<div class="row"><p><b>{{job.company_name}}</b></p></div>
				<div class="row"><p>{{job.company_role}}</p></div>
			</div>
		</div>

		<div>
			<table style="width:100%" frame="void" >
				<tr>
			    	<td><input type="text" class="form-control" placeholder="Company name" ng-model="new_job_company"></td>
			    	<td><input type="text" class="form-control" placeholder="Job role" ng-model="new_job_role"></td>
			    	<td>
			    		<!-- BEING FILE INPUT AREA -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">	
								<p ng-click="clickFileInputCompanyPic();" ng-hide="new_job_company_pic_image" class="text-center" style="padding-top:15px;">Add Company Photo</p>
								<p ng-click="new_job_company_pic_image = null;" ng-show="new_job_company_pic_image" class="text-center" style="padding-top:15px;">Remove Image</p>
								<div><input class="col col-centered" type="file" id="companyImageInput" style="display:none;" /></div>
							</div>
						</div>
						<!-- END FILE INPUT SECTION -->
			    	</td>
			  	</tr>
			</table>
		</div>

		<div class="row">
			<div class="col" style="padding-left:20px; padding-top:5px;">
				<button ng-click="clicked_add_job = true; addJob();" class="btn btn-primary">Add Job</button>
			  </div>
		</div>

		<div class="row row-centered" ng-show="clicked_add_job">
			<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-8">
				<uib-progressbar class="progress-striped active" value="dynamic" type="success"><i>Adding job...</i></uib-progressbar>
			</div>
		</div>

		<div class="row">
			<div class="row row-centered">
				<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<uib-alert ng-repeat="alert in alerts_addJob" type="{{alert.type}}" close="closeAlertJobs($index)">{{alert.msg}}</uib-alert>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- END JOBS SECTION -->


<!-- BEGIN BOARDS SECTION -->
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
<div class="row">
	<h3 class="text-center gotham-font grey-text investor-boards-headline">BOARDS - {{boards_count}}</h3>
</div>

<div class="row investor-boards-body">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row boards-grey-section" style="margin-top:20px;">
			<table style="width:100%" frame="void" >
			  <tr ng-repeat="board in investor_struct.boards track by $index">
			  		{{board}}
				    <td>{{board.company_name}}</td>
				    <td>{{board.company_role}}</td>
			  </tr>
			  <tr>
			    <td><input type="text" class="form-control" placeholder="Company name" ng-model="new_board_company"></td>
			    <td><input type="text" class="form-control" placeholder="Role on board" ng-model="new_board_role"></td>
			  </tr>
			</table>

			<div class="row">
				<div class="col" style="padding-left:20px; padding-top:5px;">
					<button ng-click="clicked_add_board = true; addBoard();" class="btn btn-primary">Add Board
					</button>
				</div>
			</div>

			<div class="row row-centered" ng-show="clicked_add_board">
				<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-8">
					<uib-progressbar class="progress-striped active" value="dynamic" type="success"><i>Adding board...</i></uib-progressbar>
				</div>
			</div>

			<div class="row">
			<div class="row row-centered">
				<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<uib-alert ng-repeat="alert in alerts_addBoard" type="{{alert.type}}" close="closeAlertBoards($index)">{{alert.msg}}</uib-alert>
				</div>
			</div>
		</div>
			
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>

<!-- END JOBS SECTION -->


<!-- BEGIN INVESTMENT SECTION -->
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
<div class="row text-center vcenter">
	<h3 class="text-center gotham-font grey-text investor-investments-headline">INVESTMENTS - {{investments_count}}</h3>
</div>

<div class="row investor-investments-body" >
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row investments-grey-section" style="margin-top:20px;">
			<table style="width:100%" frame="void" >
				<tr>
				    <th>DATE</th>
				    <th>INVESTED IN</th>
				    <th>ROUND</th>
				    <th>DETAILS</th>
		  		</tr>
			  <tr ng-repeat="funding in investor_struct.investments track by $index">
				    <td>{{funding.date}}</td>
				    <td>{{funding.amount}}</td>
				    <td>{{funding.round}}</td>
				    <td>{{funding.details}}</td>
			  </tr>
			  <tr>
			    <td><input type="text" class="form-control" placeholder="date" ng-model="new_investment_date"></td>
			    <td><input type="text" class="form-control" placeholder="company invested in" ng-model="new_investment_company"></td>
			    <td><input type="text" class="form-control" placeholder="amount / round type" ng-model="new_investment_round"></td>
			    <td><input type="text" class="form-control" placeholder="details" ng-model="new_investment_details"></td>
			  </tr>
			</table>
		
			<div class="row">
				<div class="col" style="padding-left:20px; padding-top:5px;">
					<button ng-click="clicked_add_investment= true; addInvestment();" class="btn btn-primary">Add Investment
					</button>
				</div>
			</div>

			<div class="row row-centered" ng-show="clicked_add_investment">
				<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-8">
					<uib-progressbar class="progress-striped active" value="dynamic" type="success"><i>Adding investment...</i></uib-progressbar>
				</div>
			</div>

			<div class="row">
				<div class="row row-centered">
					<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<uib-alert ng-repeat="alert in alerts_addInvestment" type="{{alert.type}}" close="closeAlertInvestments($index)">{{alert.msg}}</uib-alert>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
<!-- END JOBS SECTION -->

<!-- END WHITE SECTION