<div class="row company-profile-splash">
	

	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>

		<!-- DEFAULT PROFILE PICTURE OR USER PHOTO -->
		<div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<!-- <img data-ng-src="{{user.prof_pic_prefix}},{{user.prof_pic_data}}" data-err-src="images/polygons.png" class="img-responsive" alt="Responsive image"> -->
			<div class="row row-centered">
				<div class="col-centered">
					<img ng-src="{{user.profile_pic}}" class="img-responsive img-circle" alt="Responsive image"> 
				</div>
			</div>
		</div>
		<!-- <div ng-show="user.prof_pic_data" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<img ng-show="user.prof_pic_data" ng-src="{{user.prof_pic_data}}" class="img-responsive" alt="Responsive image"> 
		</div> -->
		<!-- <img data-ng-src="{{user.prof_pic_prefix}},{{user.prof_pic_data}}" data-err-src="images/polygons.png" class="img-responsive" alt="Responsive image"> -->
		<!-- END PROFILE PICTURE -->

		
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 investor-splash-textinfo">
			<div class="row">
				<div class="white-text">
					<h2 class="float-left">{{user.firstname | uppercase}} {{user.lastname | uppercase}}</h2>
					<div style="margin-top:20px; padding-right:100px;" class="float-right">
						<a ui-sref="profile.investor_edit">
							<button type="button" class="btn btn-edit gotham-font" >
							EDIT <img src="images/edit.png" class="float-right edit-image">
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="white-text">
					<p>{{user.description}} </p>
				</div>
			</div>
		</div>
	</div>

	<!-- START PROFILE PIC EDIT SECTION -->
	<!-- <div class="row">
		<div class="row">	
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<div ng-click="editing_prof_pic()"><input type="file" id="fileInput" /></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div ng-show="editing_photo" class="cropArea col-lg-3 col-md-3 col-sm-3 col-xs-3">
			    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

			<div ng-show="editing_photo"><p>Cropped Image:</p></div>
			<div ng-show="editing_photo"><img ng-src="{{myCroppedImage}}" /></div>
		</div>
		<div class="row" style="padding-top:20px;">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<button class="btn btn-default" ng-show="editing_photo" ng-click="uploadProfilePic(myCroppedImage); editing_photo=false;">Submit</button> 
		</div>
	</div> -->
	<!-- END PROFILE PIC EDIT SECTION -->

</div>



<!-- Investor Demographics bar -->
<!-- GREY BAR DEMOGRAPHICS SECTION -->
<div class="row company-demographics-section">
	
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/pin.png" alt="" class="vcenter float-left pin-img">  
				<h5 style="color: #2F3437; float:right;" class="vcenter float-right">Headquarters:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.city}}, {{user.state}}</p>
			</div>
		</div>	
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/founders.png" alt="" class="float-left pin-img">
				<h5 style="color: #2F3437" class="float-right">Primary role:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col-centered company-social-links">
				<p class="gray-text text-center">{{user.primary_role}}</p>
			</div>
		</div>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/founders.png" alt="" class="float-left pin-img">
				<h5 style="color: #2F3437" class="float-right">Social media:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col-centered company-social-links">
				<img src="images/fbprofile.png" class="img-responsive social-icons">
	            

	            <img src="images/twitterprofil.png" class="img-responsive social-icons">


	            <img src="images/instaprofile.png" class="img-responsive social-icons">


	            <img src="images/rssprofile.png" class="img-responsive social-icons">

	         </div>
		</div>
	</div>


	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="min-height:125px;">
		<div class="centerBlock">
			<img src="images/vert-div-sm.png" alt="" style="max-height:80px;"> 
		</div>
	</div>


	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-left">
		<div class="row row-centered">
			<div class="col col-centered">
				<img src="images/site.png" alt="" class="float-left pin-img"> 
				<h5 style="color: #2F3437" class="float-right">Website:</h5>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col col-centered">
				<p class="gray-text text-center">{{user.website}}</p>
			</div>
		</div>	
	</div>

	<!-- END TOP MODAL -->
</div>





<!-- BEGIN WHITE SECTION -->

<!-- BEGIN JOBS SECTION -->
<div class="row row-centered">
	<div class="col col-centered investor-jobs-headline" style="">
		<h3 class="vcenter gotham-font grey-text">JOBS - {{jobs_count}}</h3>
	</div>
</div>	


<div class="row investor-jobs-body">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="jobs-gray-section col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:10px; padding-bottom:10px;">
				<img src="images/tesla.png" class="img-responsive"> 
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-top:10px; padding-bottom:10px;">
				<div class="row"><p><b>Tesla Motors</b></p></div>
				<div class="row"><p>CEO & Product Architect</p></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" tyle="padding-top:10px; padding-bottom:10px;">
				<img src="images/spacex.png" class="img-responsive" alt=""> 
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row"><p><b>SpaceX</b></p></div>
				<div class="row"><p>CEO & CTO</p></div>
			</div>
		</div>
		
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

		<div class="row">
			<button ng-click="addFundingRound(new_data, new_amount, new_valuation, new_lead_intestor, 
			  	new_investors_count)" class="btn btn-primary">Add Funding Round</button>
		</div>
	</div>
</div>
<!-- END JOBS SECTION -->


<!-- BEGIN BOARDS SECTION -->
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
<div class="row">
	<h3 class="vcenter gotham-font grey-text investor-boards-headline">BOARDS - {{boards_count}}</h3>
</div>

<div class="row investor-boards-body">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row boards-grey-section" style="margin-top:20px;">
			<table style="width:100%" frame="void" >
			  <tr ng-repeat="funding in funding_rounds track by $index">
				    <td>{{funding.date}}</td>
				    <td>{{funding.amount}}</td>
			  </tr>
			  <tr>
			    <td><p><b>Medialets</b></p></td>
			    <td><p>Investor</p></td>
			  </tr>
			  <tr>
			    <td><p><b>InDinero</b></p></td>
			    <td><p>Investor</p></td>
			  </tr>
			  <tr>
			    <td><p><b>Dropbox</b></p></td>
			    <td><p>Investor</p></td>
			  </tr>
			  <tr>
			    <td><p><b>Bina Technologies</b></p></td>
			    <td><p>Investor</p></td>
			  </tr>
			  <tr>
			    <td><input type="text" class="form-control" ng-model="new_date"></td>
			    <td><input type="text" class="form-control" ng-model="new_amount"></td>
			  </tr>
			</table>


			<button ng-click="addFundingRound(new_data, new_amount, new_valuation, new_lead_intestor, 
				  	new_investors_count)" class="btn btn-primary">Add Board
			</button>
			
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>

<!-- END JOBS SECTION -->


<!-- BEGIN INVESTMENT SECTION -->
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
<div class="row text-center vcenter">
	<h3 class="vcenter gotham-font grey-text investor-investments-headline">INVESTMENTS - {{investments_count}}</h3>
</div>

<div class="row investor-investments-body" >
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: #F2F2F2;">	
		<div class="row investments-grey-section" style="margin-top:20px;">
			<table style="width:100%" frame="void" >
				<tr>
				    <th>DATE</th>
				    <th>INVESTED IN</th>
				    <th>ROUND</th>
				    <th>DETAILS</th>
		  		</tr>
			  <tr ng-repeat="funding in funding_rounds track by $index">
				    <td>{{funding.date}}</td>
				    <td>{{funding.amount}}</td>
				    <td>{{funding.date}}</td>
				    <td>{{funding.amount}}</td>
			  </tr>
			  <tr>
			    <td><p>Jan. 2016</p></td>
			    <td><p><b>Memebox Corportation</b></p></td>
			    <td><p>$100M / <b>Series D</b></p></td>
			    <td><p>Personal Investment</p></td>
			  </tr>
			  <tr>
			    <td><p>Jan. 2016</p></td>
			    <td><p><b>Memebox Corportation</b></p></td>
			    <td><p>$100M / <b>Series D</b></p></td>
			    <td><p>Personal Investment</p></td>
			  </tr>
			  <tr>
			    <td><p>Jan. 2016</p></td>
			    <td><p><b>Memebox Corportation</b></p></td>
			    <td><p>$100M / <b>Series D</b></p></td>
			    <td><p>Personal Investment</p></td>
			  </tr>
			  <tr>
			    <td><p>Jan. 2016</p></td>
			    <td><p><b>Memebox Corportation</b></p></td>
			    <td><p>$100M / <b>Series D</b></p></td>
			    <td><p>Personal Investment</p></td>
			  </tr>
			  <tr>
			    <td><input type="text" class="form-control" ng-model="new_date"></td>
			    <td><input type="text" class="form-control" ng-model="new_amount"></td>
			    <td><input type="text" class="form-control" ng-model="new_date"></td>
			    <td><input type="text" class="form-control" ng-model="new_amount"></td>
			  </tr>
			</table>
		
			<button ng-click="addFundingRound(new_data, new_amount, new_valuation, new_lead_intestor, 
			  	new_investors_count)" class="btn btn-primary">Add Investment
			</button>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
<!-- END JOBS SECTION -->

<!-- END WHITE SECTION