<div style="padding-top:60px;">

<div class="col-lg-4 col-md-4 col-sm-4" style="padding-left:90px;">
	<h3 style="margin-top:0px;">{{user.first}} {{user.last}}</h3>
	<p>{{user.city | uppercase}}, {{user.state | uppercase}}</p>
	</ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/profile-pic-holder.png" class="img-responsive" alt="Responsive image" style="padding-bottom:30px;">

	<div class="row" style="padding-bottom: 8px;">
		<div class="col-lg-7 col-md-7 col-sm-7 pull-left">INVESTMENT STATUS:</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-6 col-md-6 col-sm-8 pull-left"><p style="color:#F46E50;">Fuckyoumoney</p></div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-7 col-md-7 col-sm-9 pull-left">Focus on real estate, we'll do the rest</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
		</div>
	</div>

	<img src="/images/how-divider.png" class="img-responsive" alt="Responsive image">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<h3>Stays</h3>
		</div>
	</div>
	<img src="/images/how-divider.png" class="img-responsive" alt="Responsive image">
	<div class="row" style="padding-bottom:60px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<h3>Invests</h3>
		</div>
	</div>


</div>

</div>




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enjoy-footer">

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-sm-offset-2">
		<h4 style="color: white; margin-left: 20px" id="cursive-font">Enjoy Your Returns</h4>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px; ">
		<div class="button-text">STAY</div> 
	</a>
	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px;">
		<div class="button-text">INVEST</div> 
	</a>
</div>