<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="images/HowBack.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           		<h3>ITS SIMPLE & EFFICIENT</h3>
           		<p>A highly curated platform that brings together innovative founders with investors who
              offer value beyond just money</p> 
           </div>
        </div>
    </div>
</div>

<!-- <div class="text-center splash-mobile-about hidden-lg hidden-md hidden-sm">
	<h1 class="text-center" id="mobile-banner">How It Works</h1>
	<h3 id="gotham-font" style="color:white;">/THE FUTURE OF FUNDRAISING</h3>
	<h4 style="margin-bottom:0px; color:white;" id="gotham-font">$123.3 million of available, sexy capital to be deployed.</h4>
</div>
<img src="/images/a-mobile-red.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Responsive image"> -->

<div class="row text-center" style="padding-top:50px; padding-bottom:50px;">
  <p>A highly curated platform that brings together innovative founders with investors who
  offer value beyond just money</p>
</div>

<div class="steps-block">
    <div class="row">
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    	   <img src="images/imachome.png" alt="" class="img-responsive">
        </div>
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    </div>

    <div class="row text-center"> 
        <div class="row steps-caption-title"><h5>Start wth the first step</h5></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">A highly curated platform that brings together innovative founders with investors who offer value beyond just money</p>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>
</div>

<div class="steps-block">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
           <img src="images/imachome.png" alt="" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    </div>

    <div class="row text-center"> 
        <div class="row steps-caption-title"><h5>Second step is easy</h5></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">A highly curated platform that brings together innovative founders with investors who offer value beyond just money</p>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>
</div>

<div class="steps-block">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
           <img src="images/imachome.png" alt="" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    </div>

    <div class="row text-center"> 
        <div class="row steps-caption-title"><h5>You're ready to go!</h5></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">A highly curated platform that brings together innovative founders with investors who offer value beyond just money</p>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>
</div>


<div style="background-color:#F2F2F2; margin-top:100px;" class="row text-center">
    <div class="getstarted-section">
        <div class="row">
            <h3 class="gray-text">READY TO GET STARTED?</h3>
        </div>
        <div class="row" style="padding-top:25px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">A highly curated platform that brings together innovative founders with investors who offer value beyond just money</p>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row center-block">
            <button ui-sref="soAuthRegistration" class="btn btn-grey" style="margin-top:30px; margin-bottom: 20px;">SIGN UP NOW</button>
        </div>
    </div>
</div>
