<img src="/images/how-header.png" class="img-responsive" alt="Responsive image">

<div class="col-lg-4 col-md-4 col-sm-4" style="padding-left:50px;">
	<h3 style="padding-left:40px;">How It Works</h3>
	<ul style="font-size: 12px; list-style: none;">
		<li >GET STARTED</li>
		<li style="padding-top: 10px;">AVAILIBLE FUNDING STRUCTURES</li>
		<li style="padding-top: 10px;">REDUCE YOUR AVERAGE COST OF CAPITAL</li>
		<li style="padding-top: 10px;">A NEW SOURCE OF FUNDING</li>
	</ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/how-fig-1.png" class="img-responsive" alt="Responsive image">

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pull-left" style="padding-bottom:15px;"><h4 id="escape-blue">Get Started</h4></div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 pull-left" style="padding-bottom:20px;">Focus on real estate, we'll do the rest</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Your investment is funded in full as soon as it’s approved. Then, we handle investor management and automate your payments so you have time to concentrate on what you do best — real estate.
			</p>
		</div>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 " ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 160px; margin-bottom: 30px;">
		<div class="button-text">INVEST NOW </div> 
	</a>

	<img src="/images/how-divider.png" class="img-responsive" alt="Responsive image" style="padding-bottom:60px;">
</div>



<div class="col-lg-4 col-md-4 col-sm-4">
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/how-fig-2.png" class="img-responsive" alt="Responsive image">

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pull-left" style="padding-bottom:15px;"><h4 id="escape-blue">Available Funding Structures</h4></div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 pull-left" style="padding-bottom:20px;">FIs your project a fit?</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
			</p>
		</div>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 " ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 160px; margin-bottom: 30px;">
		<div class="button-text">INVEST NOW </div> 
	</a>

	<img src="/images/how-divider.png" class="img-responsive" alt="Responsive image" style="padding-bottom:60px;">
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/how-fig-3.png" class="img-responsive" alt="Responsive image">

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pull-left" style="padding-bottom:15px;"><h4 id="escape-blue">Reduce Your Average Cost of Capital</h4></div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 pull-left" style="padding-bottom:20px;">Fund up to 90% of your project’s cost</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Traditional lenders typically cap the amount funding for a project at 65–70%, leaving a sizable portion of equity required. Fundrise's flexible funding can reduce the overall amount of equity required while lowering a project’s average cost of capital.
			</p>
		</div>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 " ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 160px; margin-bottom: 30px;">
		<div class="button-text">INVEST NOW </div> 
	</a>

	<img src="/images/how-divider.png" class="img-responsive" alt="Responsive image" style="padding-bottom:60px;">
</div>


<div class="col-lg-4 col-md-4 col-sm-4">
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/how-fig-4.png" class="img-responsive" alt="Responsive image">

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pull-left" style="padding-bottom:15px;"><h4 id="escape-blue">A New Source of Funding</h4></div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 pull-left" style="padding-bottom:20px;">Raise capital simply and efficiently online</div>
	</div>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<p>Start by creating a company profile, including experience, track record, and past projects. Easily submit a project for funding through our simple online process. Our experienced due diligence team will provide a simple due diligence checklist to complete and provide step-by-step guidance as we review the project. Once a project has been approved, Fundrise will fund the investment in full, up-front. No waiting on raising capital or uncertainty around closing. Fundrise provides seamless investor management and servicing. Automated payments, reporting, and tax documentation. We handle the hassle so you can focus on real estate.
			</p>
		</div>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 " ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 160px; margin-bottom: 100px;">
		<div class="button-text">INVEST NOW </div> 
	</a>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enjoy-footer">

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-sm-offset-2">
		<h4 style="color: white; margin-left: 20px">Enjoy Your Returns</h4>
	</div>

	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px; ">
		<div class="button-text">STAY</div> 
	</a>
	<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-left: 20px;">
		<div class="button-text">INVEST</div> 
	</a>
</div>