<img src="/images/signup-header.png" class="img-responsive" alt="Responsive image">	


<div class="container  text-center">
	<h4>Enjoy The Returns</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
</div>


<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/signup-stay.png" class="img-responsive" alt="Responsive image">	
	<h3>Stay</h3>
	<h4>Enjoy The Returns</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
	<button><a  ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Stayer');">Stay</a></button>

</div>
<div class="col-lg-6 col-md-6 col-sm-6">
	<img src="/images/signup-invest.png" class="img-responsive" alt="Responsive image">	
	<h3>Invest</h3>
	<h4>Enjoy The Returns</h4>
	<p>Yes, there is one more, "static", which is the default. Yes, they majorly differ. Each of them is incredibily useful and which you should use of course depends on the desired result. Also, don't forget about float, which is an important part of positioning.</p>
	<button><a  ui-sref="soAuthRegistration" onclick="localStorage.setItem('userType', 'Investor');">Invest</a></button>
</div>

