<img src="/images/signup-header.png" class="img-responsive hidden-xs" alt="Responsive image">
<img src="/images/signup-mobile.png" class="img-responsive hidden-lg hidden-md midden hidden-sm" alt="Responsive image">	


<div class="container text-center" style="padding-top:40px;">
	<h4>Enjoy Your Returns</h4>
	<div class="col-lg-3 col-md-3 col-sm-3 "></div>
	<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-top:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
</div>


<div class="images-success" style="padding-top:100px;">
	<div class="row" style="padding-bottom: 100px;">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/3.png" class="img-responsive" alt="Responsive image">
			<h3 style="color: #248FA2;">Stay</h3>
			<h5 id="cursive-font">Lorem elipsum sum</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soStay" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-top:20px;">
				<div class="button-text">STAY</div> 
			</a>
			<div class="hidden-lg hidden-md hidden-sm" style="padding-bottom:100px;"></div>
		</div>

		

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="/images/4.png" class="img-responsive" alt="Responsive image">
			<h3 style="color: #248FA2;">Invest</h3>
			<h5 id="cursive-font">Lorem elipsum sum</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<a class="btn redirect-btn col-lg-2 col-md-2 col-sm-2 col-xs-2" ui-sref="soInvest" onclick="localStorage.setItem('userType', 'Stayer');" style="width: 140px; margin-top:20px;">
				<div class="button-text">INVEST</div> 
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	</div>
</div>

