<!-- <img src="/images/SignUp.jpg" class="img-responsive hidden-xs" alt="Responsive image">
<img src="/images/signup-mobile.png" class="img-responsive hidden-lg hidden-md midden hidden-sm" alt="Responsive image">  --> 

<div style="padding-bottom:100px" rs-set-height>
	<div id="mycarousel" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner">
	        <div class="item active">
	        <img src="images/SignUp.jpg" alt="" class="img-responsive">
	           <div class="carousel-caption">
	           		<h3>LOG IN</h3>
	           		<p>A highly curated platform that brings together innovative founders with investors who offer value beyond just money.</p> 
	           </div>
	        </div>
	    </div>
	</div>


	<div class="row">
		<div class="row row-centered" pfs-set-third-padding-top>
			<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:80px;">
			<form class="form-inline " ng-submit="login()">
			  	<input type="email" class="form-control" ng-model="email" style="margin-bottom:20px; width:100%;" placeholder="Your email"><br />
			  	<input type="password" class="form-control" ng-model="password" placeholder="Password"style="width:100%;"><br />
			  	<button class="btn btn-grey pull-right" ng-click="submit_pressed = true" type="submit" style="margin-top:40px;">
			        <i class="icon-reply">LOG IN</i>
			    </button>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div></div>
	</div>

	<div class="row row-centered" ng-show="submit_pressed">
		<div class="col-centered col-lg-3 col-md-3 col-sm-3 col-xs-8">
			<uib-progressbar class="progress-striped active" value="dynamic" type="success"><i>Logging you in...</i></uib-progressbar>
		</div>
	</div>


</div>