<!-- <img src="/images/SignUp.jpg" class="img-responsive hidden-xs" alt="Responsive image">
<img src="/images/signup-mobile.png" class="img-responsive hidden-lg hidden-md midden hidden-sm" alt="Responsive image">  --> 


<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="images/SignUp.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           		<h3>LOG IN</h3>
           		<p>A highly curated platform that brings together innovative founders with investors who offer value beyond just money.</p> 
           </div>
        </div>
    </div>
</div>




<div style="min-height: 500px;">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:80px;">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-3"></div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<h4 class="text-center" id="cursive-font"></h4>
		<p ng-show="err">
		{{err}}
		{{errObject}}
		</p>
		<p ng-show="succes">
		{{succes}}
		</p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div>
</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-top:80px;">
	<div class="col-lg-1 col-md-1 col-sm-1"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<form class="form-inline" ng-submit="login()" >
		  	<span>Email: </span><input type="email" class="form-control" ng-model="email" style="margin-bottom:20px;"><br />
		  	<span>Password: </span><input type="password" class="form-control" ng-model="password"><br />
		  	<button class="btn" type="submit" style="margin-top:40px;">
		        <i class="icon-reply" style="padding-left: 4px;
        		">SUBMIT</i>
		    </button>
		</form>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div>
</div>
</div>

